flows_openhab2.json
[{"id":"21548ff4.98473","type":"tab","label":"OLED1","disabled":false,"info":""},{"id":"82493fbf.48fca","type":"tab","label":"OLED control","disabled":false,"info":""},{"id":"b68091cc.52465","type":"tab","label":"LED Panel1","disabled":false,"info":""},{"id":"abba5350.16b37","type":"tab","label":"trellis1","disabled":false,"info":""},{"id":"e697210e.42fcd","type":"tab","label":"rotary1","disabled":false,"info":""},{"id":"7b429564.60fb8c","type":"tab","label":"lidar1","disabled":false,"info":""},{"id":"f4ede9e2.0cff68","type":"tab","label":"therm1","disabled":false,"info":""},{"id":"e8fff41c.c2e738","type":"tab","label":"watson","disabled":false,"info":""},{"id":"5579c090.f6b2d8","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95f1bd46.18cf5","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n2","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eed2e8e.4dff018","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n3","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"503ced03.4cf0bc","type":"mqtt-broker","z":"","name":"Openhab WiFi direct","broker":"192.168.4.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2597fd16.ddf642","type":"ui_tab","z":"","name":"Therm Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"8edaee76.e5eff","type":"ui_group","z":"","name":"Numbers","tab":"2597fd16.ddf642","order":2,"disp":true,"width":"6","collapse":true},{"id":"2de358dc.8100d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8c8efd2.6321d","type":"ui_group","z":"","name":"Graphs","tab":"2597fd16.ddf642","order":1,"disp":true,"width":"6","collapse":true},{"id":"bbdd21e5.bc47d","type":"ui_group","z":"","name":"Gauges","tab":"2597fd16.ddf642","order":3,"disp":true,"width":"6","collapse":true},{"id":"4af7bba6.65e684","type":"ui_tab","z":"","name":"Life Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"550f2cd1.d77554","type":"ui_group","z":"","name":"Status","tab":"4af7bba6.65e684","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e132411.0342f8","type":"ui_group","z":"","name":"Control","tab":"4af7bba6.65e684","order":1,"disp":true,"width":"6","collapse":false},{"id":"32b07ff3.0dfa3","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot1/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":80,"wires":[]},{"id":"a5193e38.64a9c8","type":"mqtt in","z":"21548ff4.98473","name":"oled1/heartbeat","topic":"oled1/heartbeat","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1060,"wires":[["5bba12ba.810914","a06ff892.ff3e3","34a52e99.80ba2a","dfe7b705.c11048"]]},{"id":"5bba12ba.810914","type":"debug","z":"21548ff4.98473","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1100,"wires":[]},{"id":"8f1e9f9d.40fba8","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonA","topic":"oled1/buttonA","qos":"0","broker":"503ced03.4cf0bc","x":130,"y":1112,"wires":[["a06ff892.ff3e3"]]},{"id":"d1533fd6.c61a68","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonC","topic":"oled1/buttonC","qos":"0","broker":"503ced03.4cf0bc","x":130,"y":1208,"wires":[["a06ff892.ff3e3"]]},{"id":"b2e0dc8d.cb418","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonB","topic":"oled1/buttonB","qos":"0","broker":"503ced03.4cf0bc","x":130,"y":1160,"wires":[["a06ff892.ff3e3"]]},{"id":"6e95d96f.93d75","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text1","payload":"Hi there1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["32b07ff3.0dfa3"]]},{"id":"a06ff892.ff3e3","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \" \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1140,"wires":[["32b07ff3.0dfa3"]]},{"id":"77ed106e.7b6818","type":"debug","z":"21548ff4.98473","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":880,"wires":[]},{"id":"9fe32f0d.c0c3d8","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"oled1/#","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":880,"wires":[["48d8532e.ac5094"]]},{"id":"34a52e99.80ba2a","type":"function","z":"21548ff4.98473","name":"format heartbeat message","func":"msg.payload = msg.topic.replace(\"/\", \" \") + \": \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1060,"wires":[["32b07ff3.0dfa3"]]},{"id":"48d8532e.ac5094","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \"  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":880,"wires":[["77ed106e.7b6818"]]},{"id":"36cfd90d.d14bb6","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text5","payload":"Hi there5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["6c9fc20f.bb9454"]]},{"id":"3a5db315.a96af4","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text4","payload":"Hi there4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["7c709893.46f9b8"]]},{"id":"7aef8a49.f1b854","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text3","payload":"Hi there3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["71199943.3758d8"]]},{"id":"abad2cb5.35e9d","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text2","payload":"Hi there2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["ced9ffcb.a13c98"]]},{"id":"2208497e.bc61ce","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text6","payload":"Hi there6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["c6b085e9.5f1748"]]},{"id":"ced9ffcb.a13c98","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot2/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":160,"wires":[]},{"id":"71199943.3758d8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot3/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":240,"wires":[]},{"id":"7c709893.46f9b8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot4/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":320,"wires":[]},{"id":"6c9fc20f.bb9454","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot5/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":400,"wires":[]},{"id":"c6b085e9.5f1748","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot6/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":480,"wires":[]},{"id":"4098c813.3edab8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot7/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":990,"y":560,"wires":[]},{"id":"7fd132a8.dc87ac","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text7","payload":"Hi there7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["4098c813.3edab8"]]},{"id":"35b9da3a.f23a7e","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["32b07ff3.0dfa3"]]},{"id":"8015e3c.8a8a22","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["ced9ffcb.a13c98"]]},{"id":"c908ce3d.ed1248","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text3","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["71199943.3758d8"]]},{"id":"b4abfa18.193ac8","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text4","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["7c709893.46f9b8"]]},{"id":"a6928d2.ea7d4f","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text5","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["6c9fc20f.bb9454"]]},{"id":"64718168.9ee22","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text6","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["c6b085e9.5f1748"]]},{"id":"c237a0d0.990cb","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text7","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":600,"wires":[["4098c813.3edab8"]]},{"id":"a44446d4.1fc268","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot1/size","qos":"","retain":"","broker":"503ced03.4cf0bc","x":700,"y":120,"wires":[]},{"id":"997bba80.fb6b98","type":"inject","z":"21548ff4.98473","name":"","topic":"size","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":120,"wires":[["a44446d4.1fc268"]]},{"id":"50ce7832.5f5158","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1010,"y":660,"wires":[]},{"id":"741c73d6.13d5ac","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1010,"y":740,"wires":[]},{"id":"97d60658.596f88","type":"inject","z":"21548ff4.98473","name":"Local Display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["89b4d2d6.aafb8"]]},{"id":"c6fd628f.c6ba8","type":"inject","z":"21548ff4.98473","name":"Remote Display","topic":"Local Display","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":740,"wires":[["2eafb3ca.b3674c"]]},{"id":"89b4d2d6.aafb8","type":"function","z":"21548ff4.98473","name":"Setup local mode","func":"var msg1 = { topic:\"oled1/statSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/pingSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/ipSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/timeSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":470,"y":660,"wires":[["50ce7832.5f5158"]]},{"id":"2eafb3ca.b3674c","type":"function","z":"21548ff4.98473","name":"Setup remote mode","func":"var msg1 = { topic:\"oled1/mqttSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/mqttSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/mqttSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["741c73d6.13d5ac"]]},{"id":"52e9c14.071544","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":750,"y":180,"wires":[]},{"id":"204b97b8.001568","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":490,"y":580,"wires":[]},{"id":"bec8bd37.9c7f9","type":"inject","z":"82493fbf.48fca","name":"Local Display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["3d757946.b83806"]]},{"id":"21475d80.6729c2","type":"inject","z":"82493fbf.48fca","name":"Remote Display","topic":"Local Display","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["316ca05b.8ba84"]]},{"id":"3d757946.b83806","type":"function","z":"82493fbf.48fca","name":"Setup local mode","func":"var msg1 = { topic:\"oled1/statSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/ipSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/timeSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["52e9c14.071544"]]},{"id":"316ca05b.8ba84","type":"function","z":"82493fbf.48fca","name":"Setup remote mode","func":"var msg1 = { topic:\"oled1/mqttSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/mqttSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/mqttSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["c890cfe5.e53f9"]]},{"id":"d2d03a31.0ce9b8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["204b97b8.001568"]]},{"id":"986fe8ab.293698","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["204b97b8.001568"]]},{"id":"7dc7392e.dc5f28","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["204b97b8.001568"]]},{"id":"f3eb4721.86c558","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["204b97b8.001568"]]},{"id":"1e01b7e7.d921a8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["204b97b8.001568"]]},{"id":"d209b47f.f45ad8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["204b97b8.001568"]]},{"id":"9244dabd.073948","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["204b97b8.001568"]]},{"id":"bac8bb31.575608","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["204b97b8.001568"]]},{"id":"938c8dd2.3b14","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["204b97b8.001568"]]},{"id":"95d23579.965bf8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["204b97b8.001568"]]},{"id":"713392ef.691efc","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["204b97b8.001568"]]},{"id":"74216722.0d4448","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":760,"wires":[["204b97b8.001568"]]},{"id":"74e696e4.73dcd8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["204b97b8.001568"]]},{"id":"94be1f29.5f1f","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["204b97b8.001568"]]},{"id":"ee449d9b.a22c","type":"mqtt in","z":"b68091cc.52465","name":"","topic":"panel1/#","qos":"0","broker":"503ced03.4cf0bc","x":80,"y":80,"wires":[["16c7f2ba.682c2d"]]},{"id":"16c7f2ba.682c2d","type":"debug","z":"b68091cc.52465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":80,"wires":[]},{"id":"9a62f6c6.296848","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3511,"wires":[["2c5d0142.c4298e"]]},{"id":"2c5d0142.c4298e","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/color","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":499,"y":3571,"wires":[]},{"id":"81218e6e.bb246","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3551,"wires":[["2c5d0142.c4298e"]]},{"id":"75b925b2.163edc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3591,"wires":[["2c5d0142.c4298e"]]},{"id":"c1a8486a.9f8b78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3631,"wires":[["2c5d0142.c4298e"]]},{"id":"520663cc.dca1ec","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":310,"y":820,"wires":[]},{"id":"c787faa8.8ba998","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["520663cc.dca1ec"]]},{"id":"2a474580.62e68a","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["520663cc.dca1ec"]]},{"id":"926da0ff.c865e","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["520663cc.dca1ec"]]},{"id":"d91a5ec2.88b48","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["520663cc.dca1ec"]]},{"id":"3593b2fe.933ede","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/speed","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":346,"y":3442,"wires":[]},{"id":"2758bf98.7af3","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3382,"wires":[["3593b2fe.933ede"]]},{"id":"7905ded8.24afc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3422,"wires":[["3593b2fe.933ede"]]},{"id":"87e96ad.3f33198","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3462,"wires":[["3593b2fe.933ede"]]},{"id":"f0a71103.c81c7","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3502,"wires":[["3593b2fe.933ede"]]},{"id":"7fb35f0f.55968","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/direction","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":806,"y":3473,"wires":[]},{"id":"3814016e.c7fdde","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"360","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3413,"wires":[["7fb35f0f.55968"]]},{"id":"219d3ecd.52e9a2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3453,"wires":[["7fb35f0f.55968"]]},{"id":"50894492.b066ac","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3493,"wires":[["7fb35f0f.55968"]]},{"id":"102caec3.61ab51","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"270","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3533,"wires":[["7fb35f0f.55968"]]},{"id":"83688588.173678","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/brightness","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1067,"y":3620,"wires":[]},{"id":"893ce035.67c9","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3560,"wires":[["83688588.173678"]]},{"id":"8f749f0a.b28ac","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3600,"wires":[["83688588.173678"]]},{"id":"616f9cce.ee5244","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3640,"wires":[["83688588.173678"]]},{"id":"d4daec75.ae565","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3680,"wires":[["83688588.173678"]]},{"id":"8015b2f2.51e6","type":"comment","z":"b68091cc.52465","name":"LED Panel interactions","info":"","x":120,"y":20,"wires":[]},{"id":"e4bf6f6e.8746","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["520663cc.dca1ec"]]},{"id":"a6350185.99a7e","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["520663cc.dca1ec"]]},{"id":"8e2285.084bdd78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["520663cc.dca1ec"]]},{"id":"8fac6052.9e73b","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["520663cc.dca1ec"]]},{"id":"2734ed51.069b72","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["520663cc.dca1ec"]]},{"id":"c4ba52c1.3dab1","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["520663cc.dca1ec"]]},{"id":"1d9e4cf.31c16b3","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["520663cc.dca1ec"]]},{"id":"8df6b891.9ce198","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["520663cc.dca1ec"]]},{"id":"8e07f604.c3d0d8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["520663cc.dca1ec"]]},{"id":"2f2e225a.8fabfe","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":600,"wires":[["531b149.2b395ec"]]},{"id":"531b149.2b395ec","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":590,"y":880,"wires":[]},{"id":"9fbcaf6b.a6963","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["520663cc.dca1ec"]]},{"id":"f47f8add.f133a8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":760,"wires":[["520663cc.dca1ec"]]},{"id":"c048cb57.576da8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["531b149.2b395ec"]]},{"id":"2927683a.f73fc8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"17","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":240,"wires":[["531b149.2b395ec"]]},{"id":"c31c6655.244698","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":280,"wires":[["531b149.2b395ec"]]},{"id":"5693e579.faa88c","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[["531b149.2b395ec"]]},{"id":"1c65e514.b7f3eb","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":360,"wires":[["531b149.2b395ec"]]},{"id":"2a39aec2.74ddf2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":400,"wires":[["531b149.2b395ec"]]},{"id":"e1013fae.d9dd7","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":440,"wires":[["531b149.2b395ec"]]},{"id":"7003c577.065fac","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"23","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["531b149.2b395ec"]]},{"id":"249d856c.19d0ca","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":520,"wires":[["531b149.2b395ec"]]},{"id":"d29cab4.6218058","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":560,"wires":[["531b149.2b395ec"]]},{"id":"c78d75dc.aad038","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"27","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":640,"wires":[["531b149.2b395ec"]]},{"id":"19fa79a7.a34cd6","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":760,"wires":[["531b149.2b395ec"]]},{"id":"bc2d30c4.f879d","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"29","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":720,"wires":[["531b149.2b395ec"]]},{"id":"bff96434.9d05b8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"28","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":680,"wires":[["531b149.2b395ec"]]},{"id":"752f18ee.816c98","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"41","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":600,"wires":[["4b5da303.cc17ac"]]},{"id":"4b5da303.cc17ac","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":790,"y":820,"wires":[]},{"id":"7a751688.94ef78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"31","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":200,"wires":[["4b5da303.cc17ac"]]},{"id":"93f3c746.22e0b8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":240,"wires":[["4b5da303.cc17ac"]]},{"id":"4eabcf4f.0c28f","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"33","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":280,"wires":[["4b5da303.cc17ac"]]},{"id":"ed263261.0f837","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"34","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":320,"wires":[["4b5da303.cc17ac"]]},{"id":"d34fa0e1.b0c8c","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":360,"wires":[["4b5da303.cc17ac"]]},{"id":"ae6e4120.612b","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"36","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":400,"wires":[["4b5da303.cc17ac"]]},{"id":"c4448973.066788","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"37","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":440,"wires":[["4b5da303.cc17ac"]]},{"id":"c7ad2b5b.47ff28","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"38","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":480,"wires":[["4b5da303.cc17ac"]]},{"id":"cd193d9e.1423a","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"39","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":520,"wires":[["4b5da303.cc17ac"]]},{"id":"dec657a9.05c1a8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":560,"wires":[["4b5da303.cc17ac"]]},{"id":"4448830.3392f7c","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"42","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":640,"wires":[["4b5da303.cc17ac"]]},{"id":"2a647de2.a339c2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":760,"wires":[["4b5da303.cc17ac"]]},{"id":"6a40fc89.55fbb4","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"44","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":720,"wires":[["4b5da303.cc17ac"]]},{"id":"bca9f7f9.5e0338","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"43","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":680,"wires":[["4b5da303.cc17ac"]]},{"id":"9f4a356b.adcc48","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["520663cc.dca1ec"]]},{"id":"bf0a97dc.9bc688","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"56","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":600,"wires":[["f3eff7f9.47f388"]]},{"id":"e965c360.620c6","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"46","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":200,"wires":[["f3eff7f9.47f388"]]},{"id":"4453fa25.34b724","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"47","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":240,"wires":[["f3eff7f9.47f388"]]},{"id":"68e29f8c.40fde","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"48","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":280,"wires":[["f3eff7f9.47f388"]]},{"id":"608f2e99.1c2bb","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"49","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":320,"wires":[["f3eff7f9.47f388"]]},{"id":"42b77296.72d7dc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":360,"wires":[["f3eff7f9.47f388"]]},{"id":"cd5579df.0d1438","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"51","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":400,"wires":[["f3eff7f9.47f388"]]},{"id":"ce9ef283.2add2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":440,"wires":[["f3eff7f9.47f388"]]},{"id":"4cc7bc9e.cba464","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"53","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":480,"wires":[["f3eff7f9.47f388"]]},{"id":"bf20f87b.34cdb8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"54","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":520,"wires":[["f3eff7f9.47f388"]]},{"id":"594c2d55.fcd4a4","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"55","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":560,"wires":[["f3eff7f9.47f388"]]},{"id":"5a748778.d5ce58","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":640,"wires":[["f3eff7f9.47f388"]]},{"id":"996627fa.9d8308","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":760,"wires":[["f3eff7f9.47f388"]]},{"id":"b932a8d5.401e88","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"59","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":720,"wires":[["f3eff7f9.47f388"]]},{"id":"60cddc81.d1b974","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"58","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":680,"wires":[["f3eff7f9.47f388"]]},{"id":"f3eff7f9.47f388","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1090,"y":880,"wires":[]},{"id":"cc98ec3.47c6d1","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/#","qos":"0","broker":"5579c090.f6b2d8","x":140,"y":60,"wires":[["bc6bd1c1.583be"]]},{"id":"bc6bd1c1.583be","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":60,"wires":[]},{"id":"40e292f9.14d77c","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/001","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":140,"wires":[["f2d45980.df5dc8"]]},{"id":"6b79a2e0.8709ec","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/001","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":180,"wires":[["f2d45980.df5dc8"]]},{"id":"2b70faab.0a2416","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/002","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":260,"wires":[["f2d45980.df5dc8"]]},{"id":"9803901f.7efb1","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/002","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":220,"wires":[["f2d45980.df5dc8"]]},{"id":"4ac8ce9c.ad7df","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/003","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":300,"wires":[["f2d45980.df5dc8"]]},{"id":"e75f6665.5a1928","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/003","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":340,"wires":[["f2d45980.df5dc8"]]},{"id":"9fc2bb65.464788","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/016","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":380,"wires":[["f2d45980.df5dc8"]]},{"id":"e447bb62.f38138","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/016","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":420,"wires":[["f2d45980.df5dc8"]]},{"id":"7f56c877.5e9558","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/000","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":60,"wires":[["f2d45980.df5dc8"]]},{"id":"4f47ef04.5c0ab","type":"inject","z":"abba5350.16b37","name":"","topic":"command/LED/000","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":100,"wires":[["f2d45980.df5dc8"]]},{"id":"ecbb883c.420d98","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1070,"y":540,"wires":[]},{"id":"70e189dd.b1ec28","type":"inject","z":"abba5350.16b37","name":"","topic":"command/keyMode","payload":"onOff","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":480,"wires":[["b5f8ce7f.967a1"]]},{"id":"2ca6f444.31547c","type":"inject","z":"abba5350.16b37","name":"","topic":"command/keyMode","payload":"onOnly","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":640,"y":520,"wires":[["b5f8ce7f.967a1"]]},{"id":"4ce48b94.026374","type":"inject","z":"abba5350.16b37","name":"","topic":"command/getMatrix","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":620,"y":640,"wires":[["d5e5aaf8.6723b8"]]},{"id":"a17ca50f.127ac8","type":"inject","z":"abba5350.16b37","name":"","topic":"command/allOn","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":610,"y":680,"wires":[["d5e5aaf8.6723b8"]]},{"id":"8c1b689e.f06e58","type":"inject","z":"abba5350.16b37","name":"","topic":"command/allOff","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":600,"y":720,"wires":[["d5e5aaf8.6723b8"]]},{"id":"516ce43c.d28bcc","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1050,"y":700,"wires":[]},{"id":"f6fc7d74.23aab","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/switchA/#","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":140,"wires":[["8b6caf6e.9fddd"]]},{"id":"41312887.7fa2a8","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/switchC/#","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":220,"wires":[["a6df4809.c49c38"]]},{"id":"d07fd8a7.f4d8e8","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/switchB/#","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":180,"wires":[["174f9c83.2d0b53"]]},{"id":"8b6caf6e.9fddd","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":140,"wires":[]},{"id":"174f9c83.2d0b53","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":180,"wires":[]},{"id":"a6df4809.c49c38","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":220,"wires":[]},{"id":"161840e2.eb05bf","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/keyMode","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":480,"wires":[["73713277.90e47c"]]},{"id":"73713277.90e47c","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":480,"wires":[]},{"id":"3d9fb522.1ae3ba","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":100,"wires":[]},{"id":"e26b5af9.2a0ac8","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/key/#","qos":"0","broker":"5579c090.f6b2d8","x":150,"y":100,"wires":[["3d9fb522.1ae3ba"]]},{"id":"81cc0ddc.8fd3c","type":"inject","z":"abba5350.16b37","name":"","topic":"command/keyMode","payload":"localMatrix","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":560,"wires":[["b5f8ce7f.967a1"]]},{"id":"e17da402.7271b8","type":"inject","z":"abba5350.16b37","name":"setMatrix series1..15","topic":"trellis1/command/setMatrix","payload":"[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":620,"y":820,"wires":[["7db06255.c68b9c"]]},{"id":"13944c69.3eb8e4","type":"inject","z":"abba5350.16b37","name":"setMatrix >=","topic":"trellis1/command/setMatrix","payload":"[32768,16384,8192,4096,2048,1024,512,256,128,64,32,16,8,65532,2,65535]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":590,"y":860,"wires":[["7db06255.c68b9c"]]},{"id":"49599528.ad850c","type":"inject","z":"abba5350.16b37","name":"setMatrix |  |","topic":"trellis1/command/setMatrix","payload":"[0,0,0,0,0,0,576,576,576,0,0,0,0,0,0,0]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":590,"y":900,"wires":[["7db06255.c68b9c"]]},{"id":"12748be5.8553b4","type":"inject","z":"abba5350.16b37","name":"Color Blue","topic":"command/setColor","payload":"255","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2420,"wires":[["71f85350.a07d7c"]]},{"id":"94ac3f90.4dca7","type":"inject","z":"abba5350.16b37","name":"Color Green","topic":"command/setColor","payload":"65280","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2380,"wires":[["71f85350.a07d7c"]]},{"id":"c5fdf51a.8dbc78","type":"inject","z":"abba5350.16b37","name":"Color White","topic":"command/setColor","payload":"16777215","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2460,"wires":[["71f85350.a07d7c"]]},{"id":"836d337a.418a","type":"inject","z":"abba5350.16b37","name":"Color Black","topic":"command/setColor","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2500,"wires":[["71f85350.a07d7c"]]},{"id":"c2050d2e.a47c3","type":"inject","z":"abba5350.16b37","name":"Brightness 1","topic":"command/setBrightness","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2560,"wires":[["fc6f6ca8.00cb1"]]},{"id":"c39df124.47ebd","type":"inject","z":"abba5350.16b37","name":"Brightness 5","topic":"command/setBrightness","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2600,"wires":[["fc6f6ca8.00cb1"]]},{"id":"73d3efdf.8a5c2","type":"inject","z":"abba5350.16b37","name":"Brightness 10","topic":"command/setBrightness","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":2640,"wires":[["fc6f6ca8.00cb1"]]},{"id":"7f14179f.358e98","type":"inject","z":"abba5350.16b37","name":"Brightness 20","topic":"command/setBrightness","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":2680,"wires":[["fc6f6ca8.00cb1"]]},{"id":"c1bb73e6.58d3f","type":"inject","z":"abba5350.16b37","name":"Brightness 255","topic":"command/setBrightness","payload":"255","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":2720,"wires":[["fc6f6ca8.00cb1"]]},{"id":"8228e48c.ab69b8","type":"inject","z":"abba5350.16b37","name":"","topic":"command/ping","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":600,"y":600,"wires":[["b5f8ce7f.967a1"]]},{"id":"8905f1c7.4a5c","type":"inject","z":"abba5350.16b37","name":"","topic":"command/lifeGen","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":610,"y":760,"wires":[["d5e5aaf8.6723b8"]]},{"id":"cd049a9e.cb54d8","type":"mqtt in","z":"e697210e.42fcd","name":"","topic":"rotary1/#","qos":"0","broker":"5579c090.f6b2d8","x":120,"y":100,"wires":[["ed0c68b2.e0b418"]]},{"id":"ed0c68b2.e0b418","type":"debug","z":"e697210e.42fcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":100,"wires":[]},{"id":"c890cfe5.e53f9","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":750,"y":260,"wires":[]},{"id":"3d34e636.efcbba","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1090,"y":940,"wires":[]},{"id":"4b81de35.67cd4","type":"function","z":"abba5350.16b37","name":"Flip Vertically","func":"// input is an array\nvar arr = msg.payload\nfor (var i=0; i<arr.length/2; i++) {\n    var temp = arr[i]\n    arr[i] = arr[arr.length-1-i]\n    arr[arr.length-1-i] = temp\n}\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1040,"wires":[["9b2c2eea.8794"]]},{"id":"ea0ab302.144e","type":"inject","z":"abba5350.16b37","name":"Send matrix flipped vert","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1040,"wires":[["216d978c.1eae78"]]},{"id":"f67366fa.5bc488","type":"function","z":"abba5350.16b37","name":"Rotate Right","func":"// input is an array\n// basically move each row to corresponding column\nvar arrIn = msg.payload\nvar len = arrIn.length\nvar arrOut = []\nfor (var i=0; i<len; i++) {// init array\n    arrOut.push(0)\n}\nvar maskOut = 1\nfor (var i=0; i<len; i++) {\n    var maskIn = 1\n    for( var j=0; j<arrIn.length; j++) {\n        var bit = (arrIn[i] & maskIn)\n        if (bit !== 0) {\n          arrOut [len - 1 - j] |= maskOut\n        }\n        maskIn = maskIn << 1\n    }\n    maskOut = maskOut << 1\n}\nmsg.payload = arrOut\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1120,"wires":[["9b2c2eea.8794"]]},{"id":"60a5ec27.396b24","type":"inject","z":"abba5350.16b37","name":"Send matrix rotated right","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1120,"wires":[["26c26cf3.55b6d4"]]},{"id":"769b41c9.8f8cb","type":"function","z":"abba5350.16b37","name":"Rotate Left","func":"// input is an array\n// basically move each row to corresponding column\nvar arrIn = msg.payload\nvar len = arrIn.length\nvar arrOut = []\nfor (var i=0; i<len; i++) {// init array\n    arrOut.push(0)\n}\nvar maskOut = 1 << (len-1)\nfor (var i=0; i<len; i++) {\n    var maskIn = 1\n    for( var j=0; j<arrIn.length; j++) {\n        var bit = (arrIn[i] & maskIn)\n        if (bit !== 0) {\n          arrOut [j] |= maskOut\n        }\n        maskIn = maskIn << 1\n    }\n    maskOut = maskOut >> 1\n}\nmsg.payload = arrOut\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1200,"wires":[["9b2c2eea.8794"]]},{"id":"d3ddb7d4.903318","type":"inject","z":"abba5350.16b37","name":"Send matrix rotated left","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1200,"wires":[["3a45c4d3.b0b25c"]]},{"id":"dfb41e19.04d27","type":"function","z":"abba5350.16b37","name":"Flip Horizontally","func":"// input is an array\nvar arrIn = msg.payload\nvar arrOut = []\nvar len = arrIn.length\nfor (var i=0; i<len; i++) {\n    var temp = 0\n    var outMask = 1 << (len - 1)\n    var inMask = 1\n    for (var j=0; j<len; j++) {\n        if (arrIn[i] & inMask) {\n            temp |= outMask\n        }\n        outMask = outMask >> 1\n        inMask = inMask << 1\n    }\n    arrOut.push (temp)\n}\nmsg.payload = arrOut\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":960,"wires":[["9b2c2eea.8794"]]},{"id":"fbd1d112.a2a9b","type":"inject","z":"abba5350.16b37","name":"Send matrix flipped horiz","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":960,"wires":[["8d85d13c.9f14a"]]},{"id":"50acf86b.dc0218","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1130,"y":1240,"wires":[]},{"id":"3642407e.84b01","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":510,"y":2440,"wires":[]},{"id":"ab73d55c.bbf2c8","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":510,"y":2640,"wires":[]},{"id":"89e987f.ea37778","type":"function","z":"abba5350.16b37","name":"Shift Right","func":"// input is an array\nvar arr = msg.payload\nfor (var i=0; i<arr.length; i++) {\n    arr[i] = arr[i] >> 1\n}\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1280,"wires":[["9b2c2eea.8794"]]},{"id":"86aa8ae7.7834c8","type":"inject","z":"abba5350.16b37","name":"Send matrix shifted right","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1280,"wires":[["731424a2.d2f5ac"]]},{"id":"ca8b373d.ea73b8","type":"function","z":"abba5350.16b37","name":"Shift Up","func":"// input is an array\n// basically move each row to corresponding column\nvar arr = msg.payload\nfor (var i=0; i<arr.length - 1; i++) {\n    arr[i] = arr[i+1]\n}\narr[arr.length-1] = 0\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1440,"wires":[["9b2c2eea.8794"]]},{"id":"c2c17696.19e0b8","type":"inject","z":"abba5350.16b37","name":"Send matrix shifted up","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1440,"wires":[["94431ed1.52586"]]},{"id":"cbeba15f.0e843","type":"function","z":"abba5350.16b37","name":"Shift Down","func":"// input is an array\nvar arr = msg.payload\nfor (var i=arr.length-1; i>0; iii) {\n    arr[i] = arr[i-1]\n}\narr[0] = 0\nmsg.payload = arr\nreturn msg","outputs":1,"noerr":0,"x":570,"y":1520,"wires":[["9b2c2eea.8794"]]},{"id":"b63fd9ef.4d6728","type":"inject","z":"abba5350.16b37","name":"Send matrix shifted down","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1520,"wires":[["87d08b39.e75358"]]},{"id":"1f2d9762.153289","type":"function","z":"abba5350.16b37","name":"Shift Left","func":"// input is an array\nvar arr = msg.payload\nfor (var i=0; i<arr.length; i++) {\n    arr[i] = arr[i] << 1\n}\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1360,"wires":[["9b2c2eea.8794"]]},{"id":"b19a3cd3.660cd","type":"inject","z":"abba5350.16b37","name":"Send matrix shifted left","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1360,"wires":[["8f24098d.5c7688"]]},{"id":"ddc1b3be.23b68","type":"function","z":"7b429564.60fb8c","name":"format lidar message","func":"msg.payload = \"Lidar:\" + msg.payload + \"mm\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":60,"wires":[[]]},{"id":"e7b10041.1dab","type":"mqtt in","z":"7b429564.60fb8c","name":"","topic":"lidar1/measurement","qos":"0","broker":"95f1bd46.18cf5","x":150,"y":60,"wires":[["ddc1b3be.23b68"]]},{"id":"b2381399.0d49b","type":"mqtt in","z":"7b429564.60fb8c","name":"","topic":"lidar1/#","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":140,"wires":[["dc203f17.f3f0a"]]},{"id":"dc203f17.f3f0a","type":"function","z":"7b429564.60fb8c","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \"  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["8317f9da.9cacd8"]]},{"id":"8317f9da.9cacd8","type":"debug","z":"7b429564.60fb8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":140,"wires":[]},{"id":"600a34d8.ed875c","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/#","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":1120,"wires":[["b30c7c70.d0197"]]},{"id":"b30c7c70.d0197","type":"debug","z":"f4ede9e2.0cff68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":1120,"wires":[]},{"id":"6d93757d.bd157c","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/light","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":120,"wires":[["b9eba008.b504a"]]},{"id":"cb4b182b.ddb1c8","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/DHT_temp","qos":"0","broker":"503ced03.4cf0bc","x":130,"y":240,"wires":[["3889775d.9934e8"]]},{"id":"2dc73517.104efa","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/DHT_humid","qos":"0","broker":"503ced03.4cf0bc","x":130,"y":360,"wires":[["34c91a7d.6c1cc6"]]},{"id":"20dbd18d.8e441e","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/289AB24B080000FD","qos":"0","broker":"503ced03.4cf0bc","x":160,"y":600,"wires":[["d56e5076.c9dfb","3022458.c8734ba"]]},{"id":"f0685bfa.f90b68","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/2822E8C7080000B8","qos":"0","broker":"503ced03.4cf0bc","x":160,"y":440,"wires":[["160569bb.2f0a76","2e197f4a.bb0fe"]]},{"id":"1e49db9e.d62934","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/2867570108000036","qos":"0","broker":"503ced03.4cf0bc","x":160,"y":760,"wires":[["80e48a87.9ec168","cc8983c3.59132"]]},{"id":"d56e5076.c9dfb","type":"function","z":"f4ede9e2.0cff68","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[["a3588bb6.851dc8"]]},{"id":"160569bb.2f0a76","type":"function","z":"f4ede9e2.0cff68","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["8560e5c1.b1f358"]]},{"id":"80e48a87.9ec168","type":"function","z":"f4ede9e2.0cff68","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["1779e263.6bc46e"]]},{"id":"3889775d.9934e8","type":"function","z":"f4ede9e2.0cff68","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":241,"wires":[["1a73b215.7c9dde"]]},{"id":"beef7a0d.46c858","type":"function","z":"f4ede9e2.0cff68","name":"label ambient temp","func":"msg.payload = \"Amb temp: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":241,"wires":[["4912a9e7.dafad8"]]},{"id":"c6a3f681.c4cd98","type":"function","z":"f4ede9e2.0cff68","name":"label light","func":"msg.payload = \"light: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["2503b3d7.6f205c"]]},{"id":"a3588bb6.851dc8","type":"function","z":"f4ede9e2.0cff68","name":"label temp 1","func":"msg.payload = \"Temp 1: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":600,"wires":[[]]},{"id":"8560e5c1.b1f358","type":"function","z":"f4ede9e2.0cff68","name":"label temp 0","func":"msg.payload = \"Temp 0: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":440,"wires":[[]]},{"id":"1779e263.6bc46e","type":"function","z":"f4ede9e2.0cff68","name":"label temp 2","func":"msg.payload = \"Temp 2: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":760,"wires":[[]]},{"id":"3d70ad5f.965732","type":"mqtt in","z":"f4ede9e2.0cff68","name":"","topic":"therm1/22E3FD4B000000DB","qos":"0","broker":"503ced03.4cf0bc","x":160,"y":920,"wires":[["7e7fbea9.6f497","f3aadc78.4e8d5"]]},{"id":"7e7fbea9.6f497","type":"function","z":"f4ede9e2.0cff68","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":920,"wires":[["ec2e195e.562848"]]},{"id":"ec2e195e.562848","type":"function","z":"f4ede9e2.0cff68","name":"label temp 3","func":"msg.payload = \"Temp 3: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":920,"wires":[[]]},{"id":"8ea5b36.6e8145","type":"function","z":"f4ede9e2.0cff68","name":"save temp 0","func":"flow.set ( \"temp0\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":560,"wires":[["6fef5e0.27f58a4","738f9a.7fc52068"]]},{"id":"40c22748.cb6c58","type":"function","z":"f4ede9e2.0cff68","name":"save temp 3","func":"flow.set ( \"temp3\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1040,"wires":[["6fef5e0.27f58a4","738f9a.7fc52068"]]},{"id":"657aa05b.4075a","type":"function","z":"f4ede9e2.0cff68","name":"save temp 1","func":"flow.set ( \"temp1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":720,"wires":[["6fef5e0.27f58a4","738f9a.7fc52068"]]},{"id":"8c135b53.cb89a8","type":"function","z":"f4ede9e2.0cff68","name":"save temp 2","func":"flow.set ( \"temp2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":880,"wires":[["6fef5e0.27f58a4","738f9a.7fc52068"]]},{"id":"6fef5e0.27f58a4","type":"function","z":"f4ede9e2.0cff68","name":"label temperature 0-3","func":"msg.payload = flow.get(\"temp0\") + \" \" + flow.get(\"temp1\") + \" \" + flow.get(\"temp2\") + \" \" +  flow.get(\"temp3\")\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":800,"wires":[["e5db0e81.95cac","b9a238b0.e718c8"]]},{"id":"2e197f4a.bb0fe","type":"function","z":"f4ede9e2.0cff68","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":560,"wires":[["dc697147.e5355"]]},{"id":"3022458.c8734ba","type":"function","z":"f4ede9e2.0cff68","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":720,"wires":[["9bd2f8af.c5c858"]]},{"id":"cc8983c3.59132","type":"function","z":"f4ede9e2.0cff68","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":880,"wires":[["5b1cf021.c61fb"]]},{"id":"f3aadc78.4e8d5","type":"function","z":"f4ede9e2.0cff68","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1040,"wires":[["47dab199.e9939"]]},{"id":"13154c59.590344","type":"function","z":"f4ede9e2.0cff68","name":"label humidity","func":"msg.payload = \"Humid: \" + msg.payload + \"%\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":362,"wires":[["ec742700.dda228"]]},{"id":"2503b3d7.6f205c","type":"mqtt out","z":"f4ede9e2.0cff68","name":"","topic":"oled1/slot1/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":1070,"y":118,"wires":[]},{"id":"4912a9e7.dafad8","type":"mqtt out","z":"f4ede9e2.0cff68","name":"","topic":"oled1/slot2/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":1070,"y":242,"wires":[]},{"id":"ec742700.dda228","type":"mqtt out","z":"f4ede9e2.0cff68","name":"","topic":"oled1/slot3/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":1070,"y":362,"wires":[]},{"id":"e5db0e81.95cac","type":"mqtt out","z":"f4ede9e2.0cff68","name":"","topic":"oled1/slot4/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":1070,"y":740,"wires":[]},{"id":"777308fa.80d7a8","type":"mqtt out","z":"7b429564.60fb8c","name":"","topic":"oled1/slot4/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":850,"y":60,"wires":[]},{"id":"b4103add.856d78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1180,"wires":[["be5e526e.fabf1"]]},{"id":"be5e526e.fabf1","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/color","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":400,"y":1240,"wires":[]},{"id":"a058b954.8d5118","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1220,"wires":[["be5e526e.fabf1"]]},{"id":"90c76d1d.f24aa","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1260,"wires":[["be5e526e.fabf1"]]},{"id":"4eeaf4fd.9b86bc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1300,"wires":[["be5e526e.fabf1"]]},{"id":"8f92e0a3.ee99a","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/speed","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":347,"y":1011,"wires":[]},{"id":"eed8b65f.52ac78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":951,"wires":[["8f92e0a3.ee99a"]]},{"id":"e9b7ce0.9399f3","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":991,"wires":[["8f92e0a3.ee99a"]]},{"id":"3efba5be.31428a","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1031,"wires":[["8f92e0a3.ee99a"]]},{"id":"b5c0270b.8c0c78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":1071,"wires":[["8f92e0a3.ee99a"]]},{"id":"8433b07.e9b4c5","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/direction","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":320,"y":1460,"wires":[]},{"id":"81d00c79.24cd5","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"360","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1400,"wires":[["8433b07.e9b4c5"]]},{"id":"2dfba549.a3b20a","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1440,"wires":[["8433b07.e9b4c5"]]},{"id":"85e21854.0decd8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1480,"wires":[["8433b07.e9b4c5"]]},{"id":"be9f562d.4eded8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"270","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1520,"wires":[["8433b07.e9b4c5"]]},{"id":"6f24daa9.43eda4","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/brightness","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":360,"y":1680,"wires":[]},{"id":"42d59ac.294e764","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1620,"wires":[["6f24daa9.43eda4"]]},{"id":"2c960890.12e608","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1660,"wires":[["6f24daa9.43eda4"]]},{"id":"bb491b28.297388","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1700,"wires":[["6f24daa9.43eda4"]]},{"id":"bc5c139.296cdf","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1740,"wires":[["6f24daa9.43eda4"]]},{"id":"dfe7b705.c11048","type":"trigger","z":"21548ff4.98473","op1":"1","op2":"oled/muted","op1type":"str","op2type":"str","duration":"9","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":330,"y":1000,"wires":[["51f1b28e.fedb3c"]]},{"id":"51f1b28e.fedb3c","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"","retain":"","broker":"503ced03.4cf0bc","x":530,"y":1000,"wires":[]},{"id":"4e2a3611.bb5f18","type":"mqtt in","z":"e8fff41c.c2e738","name":"watson temp 1C","topic":"watsonWeather/extraTemp1_C","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":140,"wires":[["8cbef6f8.97a438","a6267224.e8e8e","e8bb1e2e.6f67d"]]},{"id":"8cbef6f8.97a438","type":"function","z":"e8fff41c.c2e738","name":"nameIt","func":"msg.payload = \"Watson Temp F\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["edd0ad39.39c19","b12fe1ff.b4252"]]},{"id":"fdfdaa7e.d41a48","type":"function","z":"e8fff41c.c2e738","name":"FtoC","func":"msg.payload = 5/9 *( msg.payload - 32)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":60,"wires":[[]]},{"id":"edd0ad39.39c19","type":"debug","z":"e8fff41c.c2e738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":140,"wires":[]},{"id":"59b10293.de6aec","type":"function","z":"e8fff41c.c2e738","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["edd0ad39.39c19","b12fe1ff.b4252"]]},{"id":"a6267224.e8e8e","type":"function","z":"e8fff41c.c2e738","name":"CtoF w time","func":"var d = new Date();\nmsg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F \" + d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds()\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["edd0ad39.39c19","b12fe1ff.b4252"]]},{"id":"e8bb1e2e.6f67d","type":"debug","z":"e8fff41c.c2e738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":200,"wires":[]},{"id":"b12fe1ff.b4252","type":"mqtt out","z":"e8fff41c.c2e738","name":"","topic":"oled1/slot1/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":220,"wires":[]},{"id":"b9eba008.b504a","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"Light","tooltip":"","group":"8edaee76.e5eff","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":530,"y":120,"wires":[["c6a3f681.c4cd98","cc6cf792.6009c8","62b38f0b.c53ac"]]},{"id":"dc697147.e5355","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"...B8","tooltip":"","group":"8edaee76.e5eff","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":530,"y":560,"wires":[["8ea5b36.6e8145","660770c1.a35ba","e647cb98.f1a9a8"]]},{"id":"9bd2f8af.c5c858","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"...FD","tooltip":"","group":"8edaee76.e5eff","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":530,"y":720,"wires":[["657aa05b.4075a","58b7dac1.8bd604","d63d3165.f5094"]]},{"id":"5b1cf021.c61fb","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"...36","tooltip":"","group":"8edaee76.e5eff","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":530,"y":880,"wires":[["8c135b53.cb89a8","901c256.a4460d8","fdca19d7.50daf8"]]},{"id":"47dab199.e9939","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"...DB","tooltip":"","group":"8edaee76.e5eff","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":1,"x":530,"y":1040,"wires":[["40c22748.cb6c58","2a2b6eb1.6a5342","1aea1263.1f740e"]]},{"id":"b9a238b0.e718c8","type":"ui_text","z":"f4ede9e2.0cff68","group":"8edaee76.e5eff","order":8,"width":0,"height":0,"name":"","label":"Temperatures","format":"{{msg.payload}}","layout":"col-center","x":1060,"y":860,"wires":[]},{"id":"1a73b215.7c9dde","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"DHT Temp","tooltip":"","group":"8edaee76.e5eff","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"120","step":"1","x":551,"y":241,"wires":[["beef7a0d.46c858","c343adf9.d5934","8b736159.3c157"]]},{"id":"34c91a7d.6c1cc6","type":"ui_numeric","z":"f4ede9e2.0cff68","name":"","label":"DHT Humid","tooltip":"","group":"8edaee76.e5eff","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}%","min":0,"max":"120","step":1,"x":550,"y":362,"wires":[["13154c59.590344","5c523663.a47db8","73208c45.470ae4"]]},{"id":"cc6cf792.6009c8","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":1,"width":0,"height":0,"label":"Light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"0","ymax":"255","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":80,"wires":[[]]},{"id":"7f8c6275.3e365c","type":"mqtt in","z":"e697210e.42fcd","name":"","topic":"rotary1/encoder1","qos":"0","broker":"5579c090.f6b2d8","x":140,"y":180,"wires":[[]]},{"id":"253ed225.42135e","type":"mqtt in","z":"e697210e.42fcd","name":"","topic":"rotary1/encoder2","qos":"0","broker":"5579c090.f6b2d8","x":140,"y":240,"wires":[[]]},{"id":"ac5e9ccc.bb508","type":"function","z":"e697210e.42fcd","name":"Count Encoder","func":"//configuration variables\nvar counterName = \"r1e1\"\nvar countLimit = 20\nvar smallStep = 1\nvar bigStep = 10\n\n//basic function\nvar letter = msg.payload\nvar count = flow.get( counterName)||0\nif (letter == 'r') {\n    count = (count + smallStep) % countLimit\n} else if (letter == 'l') {\n    count = (count + countLimit - smallStep) % countLimit\n} else if (letter == 'R') {\n    count = (count + bigStep) % countLimit\n} else if (letter == 'L') {\n    count = (count + countLimit - bigStep) % countLimit\n}\nmsg.payload = count\nflow.set ( counterName, count)\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["9abe3d56.612c4"]]},{"id":"9abe3d56.612c4","type":"debug","z":"e697210e.42fcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":180,"wires":[]},{"id":"275b434f.03916c","type":"inject","z":"e697210e.42fcd","name":"","topic":"","payload":"r","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":320,"wires":[["ac5e9ccc.bb508"]]},{"id":"3db1c33c.d1896c","type":"inject","z":"e697210e.42fcd","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["ac5e9ccc.bb508"]]},{"id":"3c2ae363.61f8ec","type":"inject","z":"e697210e.42fcd","name":"","topic":"","payload":"L","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["ac5e9ccc.bb508"]]},{"id":"c20b1787.5e6318","type":"inject","z":"e697210e.42fcd","name":"","topic":"","payload":"R","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":400,"wires":[["ac5e9ccc.bb508"]]},{"id":"a378febb.0f71f","type":"inject","z":"e697210e.42fcd","name":"","topic":"","payload":"l","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":360,"wires":[["ac5e9ccc.bb508"]]},{"id":"fbb5c6b5.60c868","type":"inject","z":"e697210e.42fcd","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["ac5e9ccc.bb508"]]},{"id":"660770c1.a35ba","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":4,"width":0,"height":0,"label":"...B8","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"30","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":520,"wires":[[]]},{"id":"58b7dac1.8bd604","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":5,"width":0,"height":0,"label":"...FD","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"30","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":680,"wires":[[]]},{"id":"901c256.a4460d8","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":6,"width":0,"height":0,"label":"...36","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"30","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":840,"wires":[[]]},{"id":"2a2b6eb1.6a5342","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":7,"width":0,"height":0,"label":"...DB","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"30","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":1000,"wires":[[]]},{"id":"5c523663.a47db8","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":3,"width":0,"height":0,"label":"DHT Humid","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":322,"wires":[[]]},{"id":"c343adf9.d5934","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":2,"width":0,"height":0,"label":"DHT Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"0","ymax":"200","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":201,"wires":[[]]},{"id":"e647cb98.f1a9a8","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":4,"width":"3","height":"2","gtype":"gage","title":"...B8","label":"units","format":"{{value}}","min":"30","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":730,"y":480,"wires":[]},{"id":"d63d3165.f5094","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":5,"width":"3","height":"2","gtype":"gage","title":"...FD","label":"units","format":"{{value}}","min":"30","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":730,"y":640,"wires":[]},{"id":"fdca19d7.50daf8","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":6,"width":"3","height":"2","gtype":"gage","title":"...36","label":"units","format":"{{value}}","min":"30","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":730,"y":800,"wires":[]},{"id":"1aea1263.1f740e","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":7,"width":"3","height":"2","gtype":"gage","title":"...DB","label":"units","format":"{{value}}","min":"30","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":730,"y":960,"wires":[]},{"id":"62b38f0b.c53ac","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":1,"width":"3","height":"2","gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":"0","max":"255","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"100","x":730,"y":40,"wires":[]},{"id":"8b736159.3c157","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":3,"width":"3","height":"2","gtype":"gage","title":"DHT Temp","label":"units","format":"{{value}}","min":"30","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":750,"y":160,"wires":[]},{"id":"73208c45.470ae4","type":"ui_gauge","z":"f4ede9e2.0cff68","name":"","group":"bbdd21e5.bc47d","order":2,"width":"3","height":"2","gtype":"gage","title":"DHT Humid","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"80","x":750,"y":282,"wires":[]},{"id":"9cde4c6f.a4bc9","type":"comment","z":"f4ede9e2.0cff68","name":"Flows originating from Therm1","info":"","x":160,"y":40,"wires":[]},{"id":"738f9a.7fc52068","type":"ui_chart","z":"f4ede9e2.0cff68","name":"","group":"8c8efd2.6321d","order":4,"width":0,"height":0,"label":"One-wire Temps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"waiting...","dot":false,"ymin":"30","ymax":"120","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":580,"wires":[[]]},{"id":"8261154e.ca3a88","type":"function","z":"abba5350.16b37","name":"Color Wheel","func":"// convert a number (0..255) to an RGB color\nvar number = msg.payload\nvar r,b,g\nif (number >= 0 && number <255/3) {\n    r = 255 - (number *3)\n    g = number * 3\n    b = 0\n} else if (number >= 255/3 && number < 2*255/3) {\n    r = 0\n    g = 255 - (number-255/3) * 3\n    b = (number - 255/3) *3\n} else {\n    r = (number - 2* 255/3) * 3\n    g = 0\n    b = (255 - number) * 3\n}\nmsg.payload = r<<16 | g<<8 | b\n//msg.payload = \"r\" + r + \"g\" + g + \"b\" + b\nmsg.topic = \"command/setColor\"\nreturn msg; ","outputs":1,"noerr":0,"x":310,"y":1780,"wires":[["4cb96e26.0953f","97a1c0cc.538bf"]]},{"id":"294e3b70.874704","type":"debug","z":"abba5350.16b37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1940,"wires":[]},{"id":"492f7f7a.cafa6","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1680,"wires":[["8261154e.ca3a88"]]},{"id":"5edd724d.a1622c","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"85","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1720,"wires":[["8261154e.ca3a88"]]},{"id":"99d07bd1.7a0938","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"170","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1760,"wires":[["8261154e.ca3a88"]]},{"id":"44357be5.7ed834","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"42","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1800,"wires":[["8261154e.ca3a88"]]},{"id":"c4b19e32.e5302","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"127","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":1838,"wires":[["8261154e.ca3a88"]]},{"id":"7f229d6e.d239e4","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"212","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1880,"wires":[["8261154e.ca3a88"]]},{"id":"a20755a3.9a68a8","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":1924,"wires":[["fec54bdc.5d3c08"]]},{"id":"fec54bdc.5d3c08","type":"function","z":"abba5350.16b37","name":"Brightness","func":"// returns brightness as a power of 2-1\nvar number = msg.payload\nif (number > 8) {\n    number = 8\n}\nmsg.payload = (1<<number) - 1\nmsg.topic = \"command/setBrightness\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":2100,"wires":[["14a4ab14.322975","5c08974.da76168"]]},{"id":"3348abe2.110ec4","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1960,"wires":[["fec54bdc.5d3c08"]]},{"id":"2d16664c.fcdfca","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2000,"wires":[["fec54bdc.5d3c08"]]},{"id":"44e4fcb6.2f9774","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2040,"wires":[["fec54bdc.5d3c08"]]},{"id":"4bd15a23.bfa544","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2080,"wires":[["fec54bdc.5d3c08"]]},{"id":"eeb19577.b2f898","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2120,"wires":[["fec54bdc.5d3c08"]]},{"id":"d21af6ef.22bb68","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2160,"wires":[["fec54bdc.5d3c08"]]},{"id":"b736a317.84873","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2200,"wires":[["fec54bdc.5d3c08"]]},{"id":"546b7264.28fb9c","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2240,"wires":[["fec54bdc.5d3c08"]]},{"id":"1cd24723.fde9e9","type":"inject","z":"abba5350.16b37","name":"","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2280,"wires":[["fec54bdc.5d3c08"]]},{"id":"25e3e069.6a23d","type":"comment","z":"abba5350.16b37","name":"Unit tests for functions","info":"","x":140,"y":1620,"wires":[]},{"id":"2649224d.d96d1e","type":"switch","z":"abba5350.16b37","name":"Still alive","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":2900,"wires":[[],[]],"outputLabels":["alive","dead"]},{"id":"2780c44f.bfb30c","type":"switch","z":"abba5350.16b37","name":"Not Oscillating","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":2860,"wires":[["dd057326.8f989"],[]],"outputLabels":["not oscillating"," oscillating"]},{"id":"dd057326.8f989","type":"delay","z":"abba5350.16b37","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1040,"y":2860,"wires":[[]]},{"id":"b4e8ad92.4c574","type":"comment","z":"abba5350.16b37","name":"matrix is an array of 16 numbers","info":"","x":430,"y":2860,"wires":[]},{"id":"8233836.12ced8","type":"comment","z":"abba5350.16b37","name":"Grid is an array of 256 booleans","info":"","x":430,"y":2900,"wires":[]},{"id":"8070e2a8.b42c1","type":"function","z":"abba5350.16b37","name":"put generation","func":"generations = flow.get( \"generations\")\ngeneration = msg.payload\ngenerations.push( generation)\nflow.set( \"generations\", generations)\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":2920,"wires":[[]]},{"id":"29bcbc39.1177c4","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/getMatrix","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":2960,"wires":[["97b01545.6f5738"]]},{"id":"97b01545.6f5738","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":390,"y":2960,"wires":[]},{"id":"304f8456.61d8fc","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/keyMode","payload":"localMatrix","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2920,"wires":[["97b01545.6f5738"]]},{"id":"26c26cf3.55b6d4","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1120,"wires":[["f67366fa.5bc488"]]},{"id":"3a45c4d3.b0b25c","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1200,"wires":[["769b41c9.8f8cb"]]},{"id":"731424a2.d2f5ac","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1280,"wires":[["89e987f.ea37778"]]},{"id":"8f24098d.5c7688","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1360,"wires":[["1f2d9762.153289"]]},{"id":"94431ed1.52586","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1440,"wires":[["ca8b373d.ea73b8"]]},{"id":"87d08b39.e75358","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1520,"wires":[["cbeba15f.0e843"]]},{"id":"8d85d13c.9f14a","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":961,"wires":[["dfb41e19.04d27"]]},{"id":"216d978c.1eae78","type":"function","z":"abba5350.16b37","name":"Get matrix","func":"matrix = flow.get( \"matrix\")\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1040,"wires":[["4b81de35.67cd4"]]},{"id":"7db06255.c68b9c","type":"function","z":"abba5350.16b37","name":"Send matrix","func":"msg.topic = \"command/setMatrix\"\nflow.set( \"matrix\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":860,"wires":[["3b875dab.d77422"]]},{"id":"9b2c2eea.8794","type":"function","z":"abba5350.16b37","name":"Send matrix","func":"msg.topic = \"command/setMatrix\"\nflow.set( \"matrix\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1240,"wires":[["48282f9e.40983"]]},{"id":"ce60c253.0ff91","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":1,"width":"3","height":"2","passthru":false,"label":"Flip horizontal","tooltip":"Flip horizontally","color":"","bgcolor":"","icon":"fa-arrows-h","payload":"","payloadType":"str","topic":"","x":120,"y":1000,"wires":[["8d85d13c.9f14a"]]},{"id":"bf55bad2.282698","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":2,"width":"3","height":"2","passthru":false,"label":"Flip vertical","tooltip":"Flip vertically","color":"","bgcolor":"","icon":"fa-arrows-v","payload":"","payloadType":"str","topic":"","x":110,"y":1080,"wires":[["216d978c.1eae78"]]},{"id":"8fd7315.839f6d","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":4,"width":"3","height":"2","passthru":false,"label":"Rotate right","tooltip":"Rotate right","color":"","bgcolor":"","icon":"fa-rotate-right","payload":"","payloadType":"str","topic":"","x":110,"y":1160,"wires":[["26c26cf3.55b6d4"]]},{"id":"c0b7c8ee.7dfe28","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":3,"width":"3","height":"2","passthru":false,"label":"Rotate left","tooltip":"Rotate left","color":"","bgcolor":"","icon":"fa-rotate-left","payload":"","payloadType":"str","topic":"","x":110,"y":1240,"wires":[["3a45c4d3.b0b25c"]]},{"id":"a538985.2859468","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":7,"width":"3","height":"2","passthru":false,"label":"Shift right","tooltip":"Shift right","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"","payloadType":"str","topic":"","x":100,"y":1320,"wires":[["731424a2.d2f5ac"]]},{"id":"45cc5f1f.0b29a","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":6,"width":"3","height":"2","passthru":false,"label":"Shift left","tooltip":"Shift left","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"","payloadType":"str","topic":"","x":100,"y":1400,"wires":[["8f24098d.5c7688"]]},{"id":"60b30a28.2121e4","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":5,"width":"6","height":"2","passthru":false,"label":"Shift up","tooltip":"Shift up","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"","payloadType":"str","topic":"","x":100,"y":1480,"wires":[["94431ed1.52586"]]},{"id":"82dba9aa.2b4118","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":8,"width":"6","height":"2","passthru":false,"label":"Shift down","tooltip":"Shift down","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"","payloadType":"str","topic":"","x":110,"y":1560,"wires":[["87d08b39.e75358"]]},{"id":"48282f9e.40983","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":1240,"wires":[["50acf86b.dc0218","3d34e636.efcbba"]]},{"id":"71f85350.a07d7c","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2440,"wires":[["3642407e.84b01","577f640d.ace5cc"]]},{"id":"fc6f6ca8.00cb1","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":2640,"wires":[["ab73d55c.bbf2c8","577f640d.ace5cc"]]},{"id":"4cb96e26.0953f","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1780,"wires":[["10cf485e.e18548","294e3b70.874704"]]},{"id":"b5f8ce7f.967a1","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["ecbb883c.420d98"]]},{"id":"d5e5aaf8.6723b8","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":700,"wires":[["516ce43c.d28bcc"]]},{"id":"f2d45980.df5dc8","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["e519f8e7.583f28"]]},{"id":"e519f8e7.583f28","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1110,"y":160,"wires":[]},{"id":"3b875dab.d77422","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":860,"wires":[["3d34e636.efcbba","529095da.6999fc"]]},{"id":"529095da.6999fc","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1150,"y":860,"wires":[]},{"id":"10cf485e.e18548","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":650,"y":1780,"wires":[]},{"id":"14a4ab14.322975","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2100,"wires":[["986b9d76.bc321","294e3b70.874704"]]},{"id":"986b9d76.bc321","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":650,"y":2100,"wires":[]},{"id":"f986af9c.b63ed","type":"join","z":"abba5350.16b37","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":560,"y":3360,"wires":[[]]},{"id":"5115eb90.ad7034","type":"function","z":"abba5350.16b37","name":"Status to Text","func":"aliveCount = flow.get( \"aliveCount\")\nperiod = flow.get( \"period\")\n\nif( aliveCount === 0) {\n    msg.payload = \"Dead\"\n} else if (period === 0) {\n    msg.payload = \"OK\"\n} else if (period == 1) {\n    msg.payload = \"Still\"\n} else {\n    msg.payload = \"Oscillating\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":3280,"wires":[["d6bc3d81.f9d75"]]},{"id":"d6bc3d81.f9d75","type":"ui_text","z":"abba5350.16b37","group":"550f2cd1.d77554","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":1290,"y":3280,"wires":[]},{"id":"1882b298.18e51d","type":"function","z":"abba5350.16b37","name":"Oscillating Period","func":"// finds if a life sequence is oscillating\n\n//compare the current matrix to stored matrices\nfunction compareArrays( arr1, arr2) {\n    if ( arr1 === undefined) {\n        node.warn ( \"cA: arr1 is undefined\")\n        return false\n    }\n    if ( arr2 === undefined) {\n        node.warn ( \"cA: arr2 undefined\")\n        return false\n    }\n    var len1 = arr1.length\n    if (len1 != arr2.length) {\n        return false\n    }\n    for (var i=0; i<len1; i++) {\n        if (arr1[i] != arr2[i]) {\n            return false\n        }\n    }\n    return true\n}\n    \n\n\nvar currentMatrix = msg.payload\nvar generations = flow.get( \"generations\")\n\nvar period = 0\nif (generations === undefined) {\n    node.warn ( \"cA: generations undefined\")\n} else {\n    var len = generations.length\n\n    if (len === 0 ) {\n        node.warn ( \"cA: generations not populated\")\n    } else {\n\n        // look for an identical generation in the past\n        for (var i = len -1; i >= 0; i--) {\n            if (compareArrays( currentMatrix, generations[ i])) {\n                period = len - i\n                break;\n            }\n        }\n    }\n}\n\ngenerations.push( currentMatrix)\nflow.set( \"generations\", generations)\n\nflow.set( \"period\", period)\nmsg.topic = \"period\"\nmsg.payload = period\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":3220,"wires":[["feacd385.0289a","5115eb90.ad7034","f0eacdcd.64ed1"]]},{"id":"3fb751c4.6f370e","type":"function","z":"abba5350.16b37","name":"Grid to Matrix","func":"var grid = msg.payload\nvar matrix = []\nvar r,c\nfor (r=0; r<16; r++){\n    var rowValue = 0\n    for ( c=0; c<16; c++) {\n        if (grid[ r*16 + c]) {\n            rowValue = rowValue | 1<<c\n        }\n    }\n    matrix.push( rowValue)\n}\nmsg.payload = matrix\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":3220,"wires":[["1882b298.18e51d","383505b0.2b245a"]]},{"id":"feacd385.0289a","type":"ui_text","z":"abba5350.16b37","group":"550f2cd1.d77554","order":3,"width":"2","height":"2","name":"","label":"Period","format":"{{msg.payload}}","layout":"col-center","x":1090,"y":3220,"wires":[]},{"id":"ffe3b1e9.bd011","type":"function","z":"abba5350.16b37","name":"Life","func":"var columns = 16;\nvar rows = 16;\n\nfunction neighborCount( grid, cell) {\n  var r = Math.floor(cell / columns)\n  var c = cell % columns\n  var count = 0\n  if ( r>0) {\n    if ( c>0 && grid[(r-1)*columns + c-1]) {\n      count = count + 1\n    }\n    if ( grid[(r-1)*columns + c]) {\n      count = count + 1\n    }\n    if ( c<columns-1 && grid[(r-1)*columns + c+1]) {\n      count = count + 1\n    }\n  }\n  if ( c>0 && grid[r*columns + c-1]) {\n    count = count + 1\n  }\n  if ( c<columns-1 && grid[r*columns + c+1]) {\n    count = count + 1\n  }\n  if (r < rows-1) {\n    if ( c>0 && grid[(r+1) * columns + c-1]) {\n      count = count + 1\n    }\n    if ( grid[(r+1) * columns + c]) {\n      count = count + 1\n    }\n    if ( c<columns-1 && grid[(r+1) * columns + c+1]) {\n      count = count + 1\n    }\n  }\n  return count\n}\n\nvar aliveCount\nfunction generation( currentGrid) {\n    var cell\n    var nextGrid = Array(rows*columns)\n    //var aliveCount = 0\n    \n    for (cell=0; cell < currentGrid.length; cell++) {\n        count = neighborCount( currentGrid, cell)\n        if (currentGrid[ cell]) { //alive\n            if (count == 2 || count == 3) {\n                nextGrid[ cell] = true\n                aliveCount = aliveCount + 1\n            } else {\n                nextGrid[ cell] = false\n            }\n        } else { // vacant\n            if ( count == 3) {\n                nextGrid[ cell] = true\n                aliveCount = aliveCount + 1\n            } else {\n                nextGrid[ cell] = false\n            }\n        }\n    }\n    return nextGrid;\n}\n\nmsg.payload = generation( msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":3220,"wires":[["3fb751c4.6f370e","95255d93.1dedd","cc6e1100.b2d"]]},{"id":"383505b0.2b245a","type":"function","z":"abba5350.16b37","name":"Send matrix","func":"msg.topic = \"command/setMatrix\"\nflow.set( \"matrix\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3160,"wires":[["192499a9.0ae206","76f4db5e.3b83f4"]]},{"id":"cc6e1100.b2d","type":"function","z":"abba5350.16b37","name":"Count live cells","func":"var grid = msg.payload\nvar aliveCount = 0\n\nfor (cell=0; cell<grid.length; cell++){\n    if (grid[ cell]) {\n        aliveCount = aliveCount + 1\n    }\n}\nflow.set(\"aliveCount\", aliveCount)\nmsg.payload = aliveCount\nmsg.topic = \"aliveCount\"\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":3320,"wires":[["4684731.4c4918c","5115eb90.ad7034"]]},{"id":"12913e78.c8e1c2","type":"function","z":"abba5350.16b37","name":"Matrix to Grid","func":"var matrix = msg.payload\nvar grid = []\nvar r,c\nfor (r=0; r<16; r++){\n    for ( c=0; c<16; c++) {\n        if (matrix[r] & 1<<c) {\n            grid.push ( true)\n        } else {\n            grid.push ( false)\n        }\n    }\n}\nmsg.payload = grid\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3220,"wires":[["ffe3b1e9.bd011"]]},{"id":"95255d93.1dedd","type":"function","z":"abba5350.16b37","name":"inc generation","func":"generation = flow.get(\"generation\")\nflow.set(\"generation\", generation+1)\nmsg.payload = generation\nmsg.topic = \"generation\"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":3060,"wires":[["3c825f3e.0e706"]]},{"id":"cc7f9465.738bd8","type":"inject","z":"abba5350.16b37","name":"setMatrix series1..15","topic":"command/setMatrix","payload":"[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":3100,"wires":[["383505b0.2b245a","1aae0d6a.ac7923"]]},{"id":"6109db84.0efed4","type":"inject","z":"abba5350.16b37","name":"setMatrix >=","topic":"command/setMatrix","payload":"[32768,16384,8192,4096,2048,1024,512,256,128,64,32,16,8,65532,2,65535]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":3140,"wires":[["383505b0.2b245a","1aae0d6a.ac7923"]]},{"id":"e9bdf289.ae19a","type":"inject","z":"abba5350.16b37","name":"setMatrix |  |","topic":"command/setMatrix","payload":"[0,0,0,0,0,0,576,576,576,0,0,0,0,0,0,0]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":3180,"wires":[["383505b0.2b245a","1aae0d6a.ac7923"]]},{"id":"192499a9.0ae206","type":"function","z":"abba5350.16b37","name":"Node trellis1/","func":"nodename = \"trellis1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3160,"wires":[["b3981c45.8a36f","f0eacdcd.64ed1"]]},{"id":"4684731.4c4918c","type":"ui_text","z":"abba5350.16b37","group":"550f2cd1.d77554","order":2,"width":"2","height":"2","name":"","label":"Live cells","format":"{{msg.payload}}","layout":"col-center","x":1100,"y":3340,"wires":[]},{"id":"146d8805.f71b48","type":"ui_button","z":"abba5350.16b37","name":"","group":"8e132411.0342f8","order":9,"width":"6","height":"2","passthru":false,"label":"One<br>Generation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"matrix","payloadType":"flow","topic":"","x":140,"y":3220,"wires":[["12913e78.c8e1c2"]]},{"id":"6748508f.bd911","type":"inject","z":"abba5350.16b37","name":"One Generation","topic":"trellis1/command/setMatrix","payload":"matrix","payloadType":"flow","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":3260,"wires":[["12913e78.c8e1c2"]]},{"id":"1aae0d6a.ac7923","type":"function","z":"abba5350.16b37","name":"Reset generations","func":"matrix = msg.payload\nvar generations = []\ngenerations.push( matrix)\nflow.set (\"generation\", 0)\nflow.set (\"generations\", generations)\nflow.set (\"period\", 0)\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":3100,"wires":[["95255d93.1dedd"]]},{"id":"3c825f3e.0e706","type":"ui_text","z":"abba5350.16b37","group":"550f2cd1.d77554","order":1,"width":"2","height":"2","name":"","label":"Generation","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":3060,"wires":[]},{"id":"b3981c45.8a36f","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1250,"y":3160,"wires":[]},{"id":"2bd8c1ec.d42bce","type":"json","z":"abba5350.16b37","name":"","property":"payload","action":"","pretty":false,"x":270,"y":3040,"wires":[["1aae0d6a.ac7923","3f837b1b.c88864"]]},{"id":"63ca2e33.3aaca","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/matrix","qos":"0","broker":"5579c090.f6b2d8","x":110,"y":3040,"wires":[["2bd8c1ec.d42bce"]]},{"id":"3f837b1b.c88864","type":"function","z":"abba5350.16b37","name":"Set matrix","func":"flow.set( \"matrix\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":3040,"wires":[["7320e7ef.39bd78"]]},{"id":"f0eacdcd.64ed1","type":"debug","z":"abba5350.16b37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":3220,"wires":[]},{"id":"7320e7ef.39bd78","type":"function","z":"abba5350.16b37","name":"Matrix to Grid","func":"var matrix = msg.payload\nvar grid = []\nvar r,c\nfor (r=0; r<16; r++){\n    for ( c=0; c<16; c++) {\n        if (matrix[r] & 1<<c) {\n            grid.push ( true)\n        } else {\n            grid.push ( false)\n        }\n    }\n}\nmsg.payload = grid\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":3040,"wires":[["cc6e1100.b2d"]]},{"id":"577f640d.ace5cc","type":"debug","z":"abba5350.16b37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":2520,"wires":[]},{"id":"2be63f1b.c61de","type":"inject","z":"abba5350.16b37","name":"Color Red","topic":"command/setColor","payload":"16711680","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":2340,"wires":[["71f85350.a07d7c"]]},{"id":"76f4db5e.3b83f4","type":"function","z":"abba5350.16b37","name":"Node panel1/","func":"nodename = \"panel1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":3120,"wires":[["b3981c45.8a36f","f0eacdcd.64ed1"]]},{"id":"97a1c0cc.538bf","type":"function","z":"abba5350.16b37","name":"Node panel1/","func":"nodename = \"panel1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1740,"wires":[["294e3b70.874704","10cf485e.e18548"]]},{"id":"5c08974.da76168","type":"function","z":"abba5350.16b37","name":"Node panel1/","func":"nodename = \"panel1\"\nmsg.topic = nodename + \"/\" + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":2157,"wires":[["986b9d76.bc321","294e3b70.874704"]]}]