flows_openhab2.json
[{"id":"21548ff4.98473","type":"tab","label":"OLED, Lidar, Therm test flows","disabled":false,"info":""},{"id":"b68091cc.52465","type":"tab","label":"LED Panel Test Flows","disabled":false,"info":""},{"id":"82493fbf.48fca","type":"tab","label":"OLED control","disabled":false,"info":""},{"id":"abba5350.16b37","type":"tab","label":"Trellis Test Flows","disabled":false,"info":""},{"id":"e697210e.42fcd","type":"tab","label":"rotary test","disabled":false,"info":""},{"id":"5579c090.f6b2d8","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95f1bd46.18cf5","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eed2e8e.4dff018","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"503ced03.4cf0bc","type":"mqtt-broker","z":"","name":"Openhab WiFi direct","broker":"192.168.4.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68c209bf.a741","type":"mqtt in","z":"21548ff4.98473","name":"watson temp 1C","topic":"watsonWeather/extraTemp1_C","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":100,"wires":[["bc232d15.b9b258","19da776b.a69001","e7611828.2459c8"]]},{"id":"32b07ff3.0dfa3","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot1/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":240,"wires":[]},{"id":"bc232d15.b9b258","type":"function","z":"21548ff4.98473","name":"nameIt","func":"msg.payload = \"Watson Temp F\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["f6745118.9dded","32b07ff3.0dfa3"]]},{"id":"2c388991.bcafe6","type":"function","z":"21548ff4.98473","name":"FtoC","func":"msg.payload = 5/9 *( msg.payload - 32)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":20,"wires":[[]]},{"id":"f6745118.9dded","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":100,"wires":[]},{"id":"11d55b97.3a206c","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":60,"wires":[["32b07ff3.0dfa3","f6745118.9dded"]]},{"id":"a5193e38.64a9c8","type":"mqtt in","z":"21548ff4.98473","name":"oled1/heartbeat","topic":"oled1/heartbeat","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":1280,"wires":[["5bba12ba.810914","a06ff892.ff3e3","34a52e99.80ba2a"]]},{"id":"5bba12ba.810914","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1320,"wires":[]},{"id":"8f1e9f9d.40fba8","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonA","topic":"oled1/buttonA","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1332,"wires":[["a06ff892.ff3e3"]]},{"id":"d1533fd6.c61a68","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonC","topic":"oled1/buttonC","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1428,"wires":[["a06ff892.ff3e3"]]},{"id":"b2e0dc8d.cb418","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonB","topic":"oled1/buttonB","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1380,"wires":[["a06ff892.ff3e3"]]},{"id":"e9b6d446.0eef2","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["32b07ff3.0dfa3"]]},{"id":"6e95d96f.93d75","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text1","payload":"Hi there1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["32b07ff3.0dfa3"]]},{"id":"a06ff892.ff3e3","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \" \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1360,"wires":[["32b07ff3.0dfa3"]]},{"id":"77ed106e.7b6818","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1100,"wires":[]},{"id":"9fe32f0d.c0c3d8","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"oled1/#","qos":"0","broker":"503ced03.4cf0bc","x":70,"y":1100,"wires":[["48d8532e.ac5094"]]},{"id":"34a52e99.80ba2a","type":"function","z":"21548ff4.98473","name":"format heartbeat message","func":"msg.payload = msg.topic.replace(\"/\", \" \") + \": \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1280,"wires":[["32b07ff3.0dfa3"]]},{"id":"19da776b.a69001","type":"function","z":"21548ff4.98473","name":"CtoF w time","func":"var d = new Date();\nmsg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F \" + d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds()\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["32b07ff3.0dfa3","f6745118.9dded"]]},{"id":"48d8532e.ac5094","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \"  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1100,"wires":[["77ed106e.7b6818"]]},{"id":"e7611828.2459c8","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":160,"wires":[]},{"id":"36cfd90d.d14bb6","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text5","payload":"Hi there5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["6c9fc20f.bb9454"]]},{"id":"3a5db315.a96af4","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text4","payload":"Hi there4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["7c709893.46f9b8"]]},{"id":"7aef8a49.f1b854","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text3","payload":"Hi there3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["71199943.3758d8"]]},{"id":"abad2cb5.35e9d","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text2","payload":"Hi there2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["ced9ffcb.a13c98"]]},{"id":"2208497e.bc61ce","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text6","payload":"Hi there6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["c6b085e9.5f1748"]]},{"id":"ced9ffcb.a13c98","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot2/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":320,"wires":[]},{"id":"71199943.3758d8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot3/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":400,"wires":[]},{"id":"7c709893.46f9b8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot4/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":480,"wires":[]},{"id":"6c9fc20f.bb9454","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot5/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":560,"wires":[]},{"id":"c6b085e9.5f1748","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot6/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":640,"wires":[]},{"id":"4098c813.3edab8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot7/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":720,"wires":[]},{"id":"7fd132a8.dc87ac","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text7","payload":"Hi there7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["4098c813.3edab8"]]},{"id":"35b9da3a.f23a7e","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["32b07ff3.0dfa3"]]},{"id":"8015e3c.8a8a22","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["ced9ffcb.a13c98"]]},{"id":"c908ce3d.ed1248","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text3","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["71199943.3758d8"]]},{"id":"b4abfa18.193ac8","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text4","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["7c709893.46f9b8"]]},{"id":"a6928d2.ea7d4f","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text5","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["6c9fc20f.bb9454"]]},{"id":"64718168.9ee22","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text6","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["c6b085e9.5f1748"]]},{"id":"c237a0d0.990cb","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text7","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":760,"wires":[["4098c813.3edab8"]]},{"id":"294e9d21.ab79c2","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"lidar1/measurement","qos":"0","broker":"95f1bd46.18cf5","x":110,"y":1040,"wires":[["317e18b7.5e012"]]},{"id":"ee9d5ef2.d2bcf8","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"lidar1/#","qos":"0","broker":"503ced03.4cf0bc","x":70,"y":1180,"wires":[["d4ee12ed.da5068"]]},{"id":"d4ee12ed.da5068","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \"  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1180,"wires":[["8076c73b.abece"]]},{"id":"8076c73b.abece","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1180,"wires":[]},{"id":"317e18b7.5e012","type":"function","z":"21548ff4.98473","name":"format lidar message","func":"msg.payload = \"Lidar:\" + msg.payload + \"mm\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1040,"wires":[[]]},{"id":"cf696b02.f2a8f","type":"mqtt in","z":"82493fbf.48fca","name":"oled1/heartbeat","topic":"oled1/heartbeat","qos":"0","broker":"503ced03.4cf0bc","x":120,"y":60,"wires":[["432d867e.3c614"]]},{"id":"432d867e.3c614","type":"trigger","z":"82493fbf.48fca","op1":"1","op2":"oled/muted","op1type":"str","op2type":"str","duration":"9","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":330,"y":60,"wires":[["f1eaf163.8e1c9"]]},{"id":"f1eaf163.8e1c9","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"","retain":"","broker":"503ced03.4cf0bc","x":560,"y":60,"wires":[]},{"id":"7a19bfc.7cd06c","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/#","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":2040,"wires":[["a9453ff2.6143e"]]},{"id":"a9453ff2.6143e","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":2040,"wires":[]},{"id":"b47e53f5.9f0b","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/light","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1540,"wires":[["6164d528.0cc12c"]]},{"id":"26c2a997.62bebe","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/DHT_temp","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":1580,"wires":[["83f7049a.4ac18"]]},{"id":"b28ce484.764ce","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/DHT_humid","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":1620,"wires":[["ef654e4e.b70fd"]]},{"id":"6fc45b5f.627bf4","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/289AB24B080000FD","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1700,"wires":[["a60b821a.dda8a","f58429d1.4ddfb"]]},{"id":"9f64d590.5d7c18","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/2822E8C7080000B8","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1660,"wires":[["1cce53d8.5d6fcc","56a61652.0d1638"]]},{"id":"fec71785.c8498","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/2867570108000036","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1740,"wires":[["748cdd1c.c788d4","a810ee33.0edbc8"]]},{"id":"a60b821a.dda8a","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1700,"wires":[["7addbc0d.6caeec"]]},{"id":"1cce53d8.5d6fcc","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1660,"wires":[["1bf12440.7f887c"]]},{"id":"748cdd1c.c788d4","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1740,"wires":[["a1e80fb6.1fa12"]]},{"id":"83f7049a.4ac18","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1580,"wires":[["67c37ecf.9b4c28"]]},{"id":"67c37ecf.9b4c28","type":"function","z":"21548ff4.98473","name":"label ambient temp","func":"msg.payload = \"Amb temp: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1580,"wires":[["ced9ffcb.a13c98"]]},{"id":"6164d528.0cc12c","type":"function","z":"21548ff4.98473","name":"label light","func":"msg.payload = \"light: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1540,"wires":[["32b07ff3.0dfa3"]]},{"id":"7addbc0d.6caeec","type":"function","z":"21548ff4.98473","name":"label temperature 1","func":"msg.payload = \"Temp 1: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1700,"wires":[[]]},{"id":"1bf12440.7f887c","type":"function","z":"21548ff4.98473","name":"label temperature 0","func":"msg.payload = \"Temp 0: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1660,"wires":[[]]},{"id":"a1e80fb6.1fa12","type":"function","z":"21548ff4.98473","name":"label temperature 2","func":"msg.payload = \"Temp 2: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1740,"wires":[[]]},{"id":"ab5bb2d8.928768","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/22E3FD4B000000DB","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1780,"wires":[["3011d85f.ac6e7","9bbcc416.dc987"]]},{"id":"3011d85f.ac6e7","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1780,"wires":[["8b5ef2d3.f3c748"]]},{"id":"8b5ef2d3.f3c748","type":"function","z":"21548ff4.98473","name":"label temperature 3","func":"msg.payload = \"Temp 3: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1780,"wires":[[]]},{"id":"ac7774ca.e41ac8","type":"function","z":"21548ff4.98473","name":"save temp 0","func":"flow.set ( \"temp0\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1820,"wires":[["3e299b92.76467c"]]},{"id":"f79bf9db.307dd","type":"function","z":"21548ff4.98473","name":"save temp 3","func":"flow.set ( \"temp3\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1940,"wires":[["3e299b92.76467c"]]},{"id":"a06bbd65.beea7","type":"function","z":"21548ff4.98473","name":"save temp 1","func":"flow.set ( \"temp1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1860,"wires":[["3e299b92.76467c"]]},{"id":"bbe0c44e.7f8788","type":"function","z":"21548ff4.98473","name":"save temp 2","func":"flow.set ( \"temp2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1900,"wires":[["3e299b92.76467c"]]},{"id":"3e299b92.76467c","type":"function","z":"21548ff4.98473","name":"label temperature 0-3","func":"msg.payload = flow.get(\"temp0\") + \" \" + flow.get(\"temp1\") + \" \" + flow.get(\"temp2\") + \" \" +  flow.get(\"temp3\")\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1880,"wires":[["71199943.3758d8"]]},{"id":"56a61652.0d1638","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1820,"wires":[["ac7774ca.e41ac8"]]},{"id":"f58429d1.4ddfb","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1860,"wires":[["a06bbd65.beea7"]]},{"id":"a810ee33.0edbc8","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1900,"wires":[["bbe0c44e.7f8788"]]},{"id":"9bbcc416.dc987","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1940,"wires":[["f79bf9db.307dd"]]},{"id":"ef654e4e.b70fd","type":"function","z":"21548ff4.98473","name":"label humidity","func":"msg.payload = \"Humid: \" + msg.payload + \"%\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1620,"wires":[["7c709893.46f9b8"]]},{"id":"5eacf8db.a9a528","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3511,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"bdd8ba3c.e7c2d8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/color","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":499,"y":3571,"wires":[]},{"id":"9f37f240.ea207","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3551,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"ca50eb7d.323e68","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3591,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"e788e8a2.da2b78","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3631,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"4c70a74a.4ea558","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/speed","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":346,"y":3442,"wires":[]},{"id":"247d0a90.3cbbb6","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3382,"wires":[["4c70a74a.4ea558"]]},{"id":"f059682f.36adc8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3422,"wires":[["4c70a74a.4ea558"]]},{"id":"a44947b.b0577b8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3462,"wires":[["4c70a74a.4ea558"]]},{"id":"2e42f1ac.ebfdfe","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3502,"wires":[["4c70a74a.4ea558"]]},{"id":"24c84303.56326c","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/direction","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":806,"y":3473,"wires":[]},{"id":"2164dd64.f6a722","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"360","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3413,"wires":[["24c84303.56326c"]]},{"id":"f319a613.d98998","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3453,"wires":[["24c84303.56326c"]]},{"id":"10a9898e.3ad4b6","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3493,"wires":[["24c84303.56326c"]]},{"id":"cff67edf.53d97","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"270","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3533,"wires":[["24c84303.56326c"]]},{"id":"c7bc111e.58507","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/brightness","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1067,"y":3620,"wires":[]},{"id":"cc040fe1.fe586","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3560,"wires":[["c7bc111e.58507"]]},{"id":"2494fcbc.73e404","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3600,"wires":[["c7bc111e.58507"]]},{"id":"a63a2a71.a649b8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3640,"wires":[["c7bc111e.58507"]]},{"id":"e8644f0.2e91bb","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3680,"wires":[["c7bc111e.58507"]]},{"id":"a44446d4.1fc268","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot1/size","qos":"","retain":"","broker":"503ced03.4cf0bc","x":660,"y":280,"wires":[]},{"id":"997bba80.fb6b98","type":"inject","z":"21548ff4.98473","name":"","topic":"size","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":280,"wires":[["a44446d4.1fc268"]]},{"id":"50ce7832.5f5158","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":970,"y":820,"wires":[]},{"id":"741c73d6.13d5ac","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":970,"y":900,"wires":[]},{"id":"97d60658.596f88","type":"inject","z":"21548ff4.98473","name":"Local Display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["89b4d2d6.aafb8"]]},{"id":"c6fd628f.c6ba8","type":"inject","z":"21548ff4.98473","name":"Remote Display","topic":"Local Display","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[["2eafb3ca.b3674c"]]},{"id":"89b4d2d6.aafb8","type":"function","z":"21548ff4.98473","name":"Setup local mode","func":"var msg1 = { topic:\"oled1/statSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/pingSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/ipSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/timeSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["50ce7832.5f5158"]]},{"id":"2eafb3ca.b3674c","type":"function","z":"21548ff4.98473","name":"Setup remote mode","func":"var msg1 = { topic:\"oled1/mqttSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/mqttSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/mqttSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":440,"y":900,"wires":[["741c73d6.13d5ac"]]},{"id":"52e9c14.071544","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":750,"y":180,"wires":[]},{"id":"204b97b8.001568","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":490,"y":580,"wires":[]},{"id":"bec8bd37.9c7f9","type":"inject","z":"82493fbf.48fca","name":"Local Display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["3d757946.b83806"]]},{"id":"21475d80.6729c2","type":"inject","z":"82493fbf.48fca","name":"Remote Display","topic":"Local Display","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["316ca05b.8ba84"]]},{"id":"3d757946.b83806","type":"function","z":"82493fbf.48fca","name":"Setup local mode","func":"var msg1 = { topic:\"oled1/statSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/ipSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/timeSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["52e9c14.071544"]]},{"id":"316ca05b.8ba84","type":"function","z":"82493fbf.48fca","name":"Setup remote mode","func":"var msg1 = { topic:\"oled1/mqttSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/mqttSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/mqttSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["c890cfe5.e53f9"]]},{"id":"d2d03a31.0ce9b8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["204b97b8.001568"]]},{"id":"986fe8ab.293698","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["204b97b8.001568"]]},{"id":"7dc7392e.dc5f28","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["204b97b8.001568"]]},{"id":"f3eb4721.86c558","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["204b97b8.001568"]]},{"id":"1e01b7e7.d921a8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["204b97b8.001568"]]},{"id":"d209b47f.f45ad8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["204b97b8.001568"]]},{"id":"9244dabd.073948","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["204b97b8.001568"]]},{"id":"bac8bb31.575608","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["204b97b8.001568"]]},{"id":"938c8dd2.3b14","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["204b97b8.001568"]]},{"id":"95d23579.965bf8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["204b97b8.001568"]]},{"id":"713392ef.691efc","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["204b97b8.001568"]]},{"id":"74216722.0d4448","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":760,"wires":[["204b97b8.001568"]]},{"id":"74e696e4.73dcd8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["204b97b8.001568"]]},{"id":"94be1f29.5f1f","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["204b97b8.001568"]]},{"id":"6ee0f6b6.cc34f8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":null,"y":null,"wires":[[]]},{"id":"ee449d9b.a22c","type":"mqtt in","z":"b68091cc.52465","name":"","topic":"panel1/#","qos":"0","broker":"503ced03.4cf0bc","x":80,"y":80,"wires":[["16c7f2ba.682c2d"]]},{"id":"16c7f2ba.682c2d","type":"debug","z":"b68091cc.52465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":80,"wires":[]},{"id":"9a62f6c6.296848","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3511,"wires":[["2c5d0142.c4298e"]]},{"id":"2c5d0142.c4298e","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/color","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":499,"y":3571,"wires":[]},{"id":"81218e6e.bb246","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3551,"wires":[["2c5d0142.c4298e"]]},{"id":"75b925b2.163edc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3591,"wires":[["2c5d0142.c4298e"]]},{"id":"c1a8486a.9f8b78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":249,"y":3631,"wires":[["2c5d0142.c4298e"]]},{"id":"520663cc.dca1ec","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":310,"y":820,"wires":[]},{"id":"c787faa8.8ba998","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["520663cc.dca1ec"]]},{"id":"2a474580.62e68a","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["520663cc.dca1ec"]]},{"id":"926da0ff.c865e","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":280,"wires":[["520663cc.dca1ec"]]},{"id":"d91a5ec2.88b48","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["520663cc.dca1ec"]]},{"id":"3593b2fe.933ede","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/speed","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":346,"y":3442,"wires":[]},{"id":"2758bf98.7af3","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3382,"wires":[["3593b2fe.933ede"]]},{"id":"7905ded8.24afc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3422,"wires":[["3593b2fe.933ede"]]},{"id":"87e96ad.3f33198","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3462,"wires":[["3593b2fe.933ede"]]},{"id":"f0a71103.c81c7","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":3502,"wires":[["3593b2fe.933ede"]]},{"id":"7fb35f0f.55968","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/direction","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":806,"y":3473,"wires":[]},{"id":"3814016e.c7fdde","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"360","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3413,"wires":[["7fb35f0f.55968"]]},{"id":"219d3ecd.52e9a2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3453,"wires":[["7fb35f0f.55968"]]},{"id":"50894492.b066ac","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3493,"wires":[["7fb35f0f.55968"]]},{"id":"102caec3.61ab51","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"270","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":576,"y":3533,"wires":[["7fb35f0f.55968"]]},{"id":"83688588.173678","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/brightness","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1067,"y":3620,"wires":[]},{"id":"893ce035.67c9","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3560,"wires":[["83688588.173678"]]},{"id":"8f749f0a.b28ac","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3600,"wires":[["83688588.173678"]]},{"id":"616f9cce.ee5244","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3640,"wires":[["83688588.173678"]]},{"id":"d4daec75.ae565","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":797,"y":3680,"wires":[["83688588.173678"]]},{"id":"8015b2f2.51e6","type":"comment","z":"b68091cc.52465","name":"LED Panel interactions","info":"","x":120,"y":20,"wires":[]},{"id":"e4bf6f6e.8746","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["520663cc.dca1ec"]]},{"id":"a6350185.99a7e","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["520663cc.dca1ec"]]},{"id":"8e2285.084bdd78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["520663cc.dca1ec"]]},{"id":"8fac6052.9e73b","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["520663cc.dca1ec"]]},{"id":"2734ed51.069b72","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["520663cc.dca1ec"]]},{"id":"c4ba52c1.3dab1","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["520663cc.dca1ec"]]},{"id":"1d9e4cf.31c16b3","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"11","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["520663cc.dca1ec"]]},{"id":"8df6b891.9ce198","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"12","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["520663cc.dca1ec"]]},{"id":"8e07f604.c3d0d8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"13","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["520663cc.dca1ec"]]},{"id":"2f2e225a.8fabfe","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":600,"wires":[["531b149.2b395ec"]]},{"id":"531b149.2b395ec","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":590,"y":880,"wires":[]},{"id":"9fbcaf6b.a6963","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"14","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["520663cc.dca1ec"]]},{"id":"f47f8add.f133a8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":760,"wires":[["520663cc.dca1ec"]]},{"id":"c048cb57.576da8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"16","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["531b149.2b395ec"]]},{"id":"2927683a.f73fc8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"17","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":240,"wires":[["531b149.2b395ec"]]},{"id":"c31c6655.244698","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"18","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":280,"wires":[["531b149.2b395ec"]]},{"id":"5693e579.faa88c","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"19","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[["531b149.2b395ec"]]},{"id":"1c65e514.b7f3eb","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":360,"wires":[["531b149.2b395ec"]]},{"id":"2a39aec2.74ddf2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"21","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":400,"wires":[["531b149.2b395ec"]]},{"id":"e1013fae.d9dd7","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":440,"wires":[["531b149.2b395ec"]]},{"id":"7003c577.065fac","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"23","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":480,"wires":[["531b149.2b395ec"]]},{"id":"249d856c.19d0ca","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"24","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":520,"wires":[["531b149.2b395ec"]]},{"id":"d29cab4.6218058","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":560,"wires":[["531b149.2b395ec"]]},{"id":"c78d75dc.aad038","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"27","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":640,"wires":[["531b149.2b395ec"]]},{"id":"19fa79a7.a34cd6","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":760,"wires":[["531b149.2b395ec"]]},{"id":"bc2d30c4.f879d","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"29","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":720,"wires":[["531b149.2b395ec"]]},{"id":"bff96434.9d05b8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"28","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":680,"wires":[["531b149.2b395ec"]]},{"id":"752f18ee.816c98","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"41","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":600,"wires":[["4b5da303.cc17ac"]]},{"id":"4b5da303.cc17ac","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":790,"y":820,"wires":[]},{"id":"7a751688.94ef78","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"31","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":200,"wires":[["4b5da303.cc17ac"]]},{"id":"93f3c746.22e0b8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":240,"wires":[["4b5da303.cc17ac"]]},{"id":"4eabcf4f.0c28f","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"33","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":280,"wires":[["4b5da303.cc17ac"]]},{"id":"ed263261.0f837","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"34","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":320,"wires":[["4b5da303.cc17ac"]]},{"id":"d34fa0e1.b0c8c","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"35","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":360,"wires":[["4b5da303.cc17ac"]]},{"id":"ae6e4120.612b","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"36","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":400,"wires":[["4b5da303.cc17ac"]]},{"id":"c4448973.066788","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"37","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":440,"wires":[["4b5da303.cc17ac"]]},{"id":"c7ad2b5b.47ff28","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"38","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":480,"wires":[["4b5da303.cc17ac"]]},{"id":"cd193d9e.1423a","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"39","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":520,"wires":[["4b5da303.cc17ac"]]},{"id":"dec657a9.05c1a8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":560,"wires":[["4b5da303.cc17ac"]]},{"id":"4448830.3392f7c","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"42","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":640,"wires":[["4b5da303.cc17ac"]]},{"id":"2a647de2.a339c2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"45","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":760,"wires":[["4b5da303.cc17ac"]]},{"id":"6a40fc89.55fbb4","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"44","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":720,"wires":[["4b5da303.cc17ac"]]},{"id":"bca9f7f9.5e0338","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"43","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":680,"wires":[["4b5da303.cc17ac"]]},{"id":"9f4a356b.adcc48","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":160,"wires":[["520663cc.dca1ec"]]},{"id":"bf0a97dc.9bc688","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"56","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":600,"wires":[["f3eff7f9.47f388"]]},{"id":"e965c360.620c6","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"46","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":200,"wires":[["f3eff7f9.47f388"]]},{"id":"4453fa25.34b724","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"47","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":240,"wires":[["f3eff7f9.47f388"]]},{"id":"68e29f8c.40fde","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"48","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":280,"wires":[["f3eff7f9.47f388"]]},{"id":"608f2e99.1c2bb","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"49","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":320,"wires":[["f3eff7f9.47f388"]]},{"id":"42b77296.72d7dc","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":360,"wires":[["f3eff7f9.47f388"]]},{"id":"cd5579df.0d1438","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"51","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":400,"wires":[["f3eff7f9.47f388"]]},{"id":"ce9ef283.2add2","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"52","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":440,"wires":[["f3eff7f9.47f388"]]},{"id":"4cc7bc9e.cba464","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"53","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":480,"wires":[["f3eff7f9.47f388"]]},{"id":"bf20f87b.34cdb8","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"54","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":520,"wires":[["f3eff7f9.47f388"]]},{"id":"594c2d55.fcd4a4","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"55","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":560,"wires":[["f3eff7f9.47f388"]]},{"id":"5a748778.d5ce58","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"57","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":640,"wires":[["f3eff7f9.47f388"]]},{"id":"996627fa.9d8308","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":760,"wires":[["f3eff7f9.47f388"]]},{"id":"b932a8d5.401e88","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"59","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":720,"wires":[["f3eff7f9.47f388"]]},{"id":"60cddc81.d1b974","type":"inject","z":"b68091cc.52465","name":"","topic":"","payload":"58","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":680,"wires":[["f3eff7f9.47f388"]]},{"id":"f3eff7f9.47f388","type":"mqtt out","z":"b68091cc.52465","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1090,"y":880,"wires":[]},{"id":"3dcbd2bd.706cfe","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1030,"y":60,"wires":[]},{"id":"cc98ec3.47c6d1","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/#","qos":"0","broker":"5579c090.f6b2d8","x":140,"y":60,"wires":[["bc6bd1c1.583be"]]},{"id":"bc6bd1c1.583be","type":"debug","z":"abba5350.16b37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":60,"wires":[]},{"id":"40e292f9.14d77c","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/001","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":140,"wires":[["3dcbd2bd.706cfe"]]},{"id":"6b79a2e0.8709ec","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/001","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":180,"wires":[["3dcbd2bd.706cfe"]]},{"id":"2b70faab.0a2416","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/002","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":260,"wires":[["3dcbd2bd.706cfe"]]},{"id":"9803901f.7efb1","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/002","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":220,"wires":[["3dcbd2bd.706cfe"]]},{"id":"4ac8ce9c.ad7df","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/003","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":300,"wires":[["3dcbd2bd.706cfe"]]},{"id":"e75f6665.5a1928","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/003","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":340,"wires":[["3dcbd2bd.706cfe"]]},{"id":"9fc2bb65.464788","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/016","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":380,"wires":[["3dcbd2bd.706cfe"]]},{"id":"e447bb62.f38138","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/016","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":420,"wires":[["3dcbd2bd.706cfe"]]},{"id":"7f56c877.5e9558","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/000","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":60,"wires":[["3dcbd2bd.706cfe"]]},{"id":"4f47ef04.5c0ab","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/LED/000","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":100,"wires":[["3dcbd2bd.706cfe"]]},{"id":"ecbb883c.420d98","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1030,"y":480,"wires":[]},{"id":"70e189dd.b1ec28","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/keyMode","payload":"onOff","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":480,"wires":[["ecbb883c.420d98"]]},{"id":"2ca6f444.31547c","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/keyMode","payload":"onOnly","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":740,"y":520,"wires":[["ecbb883c.420d98"]]},{"id":"4ce48b94.026374","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/getMatrix","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":720,"y":660,"wires":[["516ce43c.d28bcc"]]},{"id":"a17ca50f.127ac8","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/allOn","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":700,"wires":[["516ce43c.d28bcc"]]},{"id":"8c1b689e.f06e58","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/allOff","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":740,"wires":[["516ce43c.d28bcc"]]},{"id":"516ce43c.d28bcc","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1030,"y":660,"wires":[]},{"id":"63ca2e33.3aaca","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/matrix","qos":"0","broker":"5579c090.f6b2d8","x":150,"y":660,"wires":[["9c894b1f.49dbd8"]]},{"id":"f6fc7d74.23aab","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/switchA/#","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":140,"wires":[["8b6caf6e.9fddd"]]},{"id":"41312887.7fa2a8","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/switchC/#","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":220,"wires":[["a6df4809.c49c38"]]},{"id":"d07fd8a7.f4d8e8","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/switchB/#","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":180,"wires":[["174f9c83.2d0b53"]]},{"id":"8b6caf6e.9fddd","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":140,"wires":[]},{"id":"174f9c83.2d0b53","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":180,"wires":[]},{"id":"a6df4809.c49c38","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":220,"wires":[]},{"id":"9c894b1f.49dbd8","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":660,"wires":[]},{"id":"161840e2.eb05bf","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/keyMode","qos":"0","broker":"5579c090.f6b2d8","x":160,"y":480,"wires":[["73713277.90e47c"]]},{"id":"73713277.90e47c","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":480,"wires":[]},{"id":"3d9fb522.1ae3ba","type":"debug","z":"abba5350.16b37","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":100,"wires":[]},{"id":"e26b5af9.2a0ac8","type":"mqtt in","z":"abba5350.16b37","name":"","topic":"trellis1/key/#","qos":"0","broker":"5579c090.f6b2d8","x":150,"y":100,"wires":[["3d9fb522.1ae3ba"]]},{"id":"81cc0ddc.8fd3c","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/keyMode","payload":"localMatrix","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":560,"wires":[["ecbb883c.420d98"]]},{"id":"e17da402.7271b8","type":"inject","z":"abba5350.16b37","name":"setMatrix series1..15","topic":"trellis1/command/setMatrix","payload":"[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":700,"y":780,"wires":[["516ce43c.d28bcc","836bf11d.cab11"]]},{"id":"13944c69.3eb8e4","type":"inject","z":"abba5350.16b37","name":"setMatrix >=","topic":"trellis1/command/setMatrix","payload":"[32768,16384,8192,4096,2048,1024,512,256,128,64,32,16,8,65532,2,65535]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":820,"wires":[["836bf11d.cab11","516ce43c.d28bcc"]]},{"id":"49599528.ad850c","type":"inject","z":"abba5350.16b37","name":"setMatrix |  |","topic":"trellis1/command/setMatrix","payload":"[0,0,0,0,0,0,576,576,576,0,0,0,0,0,0,0]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":670,"y":860,"wires":[["516ce43c.d28bcc","836bf11d.cab11"]]},{"id":"12748be5.8553b4","type":"inject","z":"abba5350.16b37","name":"Color Blue","topic":"trellis1/command/setColor","payload":"255","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":1260,"wires":[["3642407e.84b01"]]},{"id":"94ac3f90.4dca7","type":"inject","z":"abba5350.16b37","name":"Color Green","topic":"trellis1/command/setColor","payload":"65280","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":1220,"wires":[["3642407e.84b01"]]},{"id":"c5fdf51a.8dbc78","type":"inject","z":"abba5350.16b37","name":"Color White","topic":"trellis1/command/setColor","payload":"16777215","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":1300,"wires":[["3642407e.84b01"]]},{"id":"836d337a.418a","type":"inject","z":"abba5350.16b37","name":"Color Black","topic":"trellis1/command/setColor","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":1340,"wires":[["3642407e.84b01"]]},{"id":"c2050d2e.a47c3","type":"inject","z":"abba5350.16b37","name":"Brightness 1","topic":"trellis1/command/setBrightness","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":1400,"wires":[["ab73d55c.bbf2c8"]]},{"id":"c39df124.47ebd","type":"inject","z":"abba5350.16b37","name":"Brightness 5","topic":"trellis1/command/setBrightness","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":650,"y":1440,"wires":[["ab73d55c.bbf2c8"]]},{"id":"73d3efdf.8a5c2","type":"inject","z":"abba5350.16b37","name":"Brightness 10","topic":"trellis1/command/setBrightness","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":660,"y":1480,"wires":[["ab73d55c.bbf2c8"]]},{"id":"7f14179f.358e98","type":"inject","z":"abba5350.16b37","name":"Brightness 20","topic":"trellis1/command/setBrightness","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":660,"y":1520,"wires":[["ab73d55c.bbf2c8"]]},{"id":"c1bb73e6.58d3f","type":"inject","z":"abba5350.16b37","name":"Brightness 255","topic":"trellis1/command/setBrightness","payload":"255","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":660,"y":1560,"wires":[["ab73d55c.bbf2c8"]]},{"id":"8228e48c.ab69b8","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/ping","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":700,"y":600,"wires":[["ecbb883c.420d98"]]},{"id":"8905f1c7.4a5c","type":"inject","z":"abba5350.16b37","name":"","topic":"trellis1/command/lifeGen","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":900,"wires":[["516ce43c.d28bcc"]]},{"id":"cd049a9e.cb54d8","type":"mqtt in","z":"e697210e.42fcd","name":"","topic":"rotary1/#","qos":"0","broker":"5579c090.f6b2d8","x":120,"y":100,"wires":[["ed0c68b2.e0b418"]]},{"id":"ed0c68b2.e0b418","type":"debug","z":"e697210e.42fcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":100,"wires":[]},{"id":"c890cfe5.e53f9","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":750,"y":260,"wires":[]},{"id":"836bf11d.cab11","type":"file","z":"abba5350.16b37","name":"","filename":"matrix","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1010,"y":880,"wires":[["3d34e636.efcbba"]]},{"id":"3d34e636.efcbba","type":"debug","z":"abba5350.16b37","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":960,"wires":[]},{"id":"86f28e46.59ee9","type":"file in","z":"abba5350.16b37","name":"","filename":"matrix","format":"utf8","chunk":false,"sendError":false,"x":390,"y":960,"wires":[["142a417.5a63abf"]]},{"id":"4b81de35.67cd4","type":"function","z":"abba5350.16b37","name":"Flip Vertically","func":"// input is an array\nvar arr = msg.payload\nfor (var i=0; i<arr.length/2; i++) {\n    var temp = arr[i]\n    arr[i] = arr[arr.length-1-i]\n    arr[arr.length-1-i] = temp\n}\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":960,"wires":[["3d34e636.efcbba","836bf11d.cab11","50acf86b.dc0218"]]},{"id":"ea0ab302.144e","type":"inject","z":"abba5350.16b37","name":"Send matrix flipped vert","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":960,"wires":[["86f28e46.59ee9"]]},{"id":"142a417.5a63abf","type":"json","z":"abba5350.16b37","name":"","property":"payload","action":"","pretty":false,"x":530,"y":960,"wires":[["4b81de35.67cd4"]]},{"id":"f67366fa.5bc488","type":"function","z":"abba5350.16b37","name":"Rotate Right","func":"// input is an array\n// basically move each row to corresponding column\nvar arrIn = msg.payload\nvar len = arrIn.length\nvar arrOut = []\nfor (var i=0; i<len; i++) {// init array\n    arrOut.push(0)\n}\nvar maskOut = 1\nfor (var i=0; i<len; i++) {\n    var maskIn = 1\n    for( var j=0; j<arrIn.length; j++) {\n        var bit = (arrIn[i] & maskIn)\n        if (bit !== 0) {\n          arrOut [len - 1 - j] |= maskOut\n        }\n        maskIn = maskIn << 1\n    }\n    maskOut = maskOut << 1\n}\nmsg.payload = arrOut\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1040,"wires":[["836bf11d.cab11","3d34e636.efcbba","50acf86b.dc0218"]]},{"id":"cec04d59.22d34","type":"file in","z":"abba5350.16b37","name":"","filename":"matrix","format":"utf8","chunk":false,"sendError":false,"x":390,"y":1040,"wires":[["73c7dfbb.d08bf"]]},{"id":"60a5ec27.396b24","type":"inject","z":"abba5350.16b37","name":"Send matrix rotated right","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1040,"wires":[["cec04d59.22d34"]]},{"id":"73c7dfbb.d08bf","type":"json","z":"abba5350.16b37","name":"","property":"payload","action":"","pretty":false,"x":530,"y":1040,"wires":[["f67366fa.5bc488"]]},{"id":"769b41c9.8f8cb","type":"function","z":"abba5350.16b37","name":"Rotate Left","func":"// input is an array\n// basically move each row to corresponding column\nvar arrIn = msg.payload\nvar len = arrIn.length\nvar arrOut = []\nfor (var i=0; i<len; i++) {// init array\n    arrOut.push(0)\n}\nvar maskOut = 1 << (len-1)\nfor (var i=0; i<len; i++) {\n    var maskIn = 1\n    for( var j=0; j<arrIn.length; j++) {\n        var bit = (arrIn[i] & maskIn)\n        if (bit !== 0) {\n          arrOut [j] |= maskOut\n        }\n        maskIn = maskIn << 1\n    }\n    maskOut = maskOut >> 1\n}\nmsg.payload = arrOut\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["3d34e636.efcbba","836bf11d.cab11","50acf86b.dc0218"]]},{"id":"4f74e295.065e3c","type":"file in","z":"abba5350.16b37","name":"","filename":"matrix","format":"utf8","chunk":false,"sendError":false,"x":390,"y":1080,"wires":[["865e8436.68df98"]]},{"id":"d3ddb7d4.903318","type":"inject","z":"abba5350.16b37","name":"Send matrix rotated left","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1080,"wires":[["4f74e295.065e3c"]]},{"id":"865e8436.68df98","type":"json","z":"abba5350.16b37","name":"","property":"payload","action":"","pretty":false,"x":530,"y":1080,"wires":[["769b41c9.8f8cb"]]},{"id":"ad2acbb7.086728","type":"file in","z":"abba5350.16b37","name":"","filename":"matrix","format":"utf8","chunk":false,"sendError":false,"x":390,"y":1000,"wires":[["3c34d831.65d588"]]},{"id":"dfb41e19.04d27","type":"function","z":"abba5350.16b37","name":"Flip Horizontally","func":"// input is an array\nvar arrIn = msg.payload\nvar arrOut = []\nvar len = arrIn.length\nfor (var i=0; i<len; i++) {\n    var temp = 0\n    var outMask = 1 << (len - 1)\n    var inMask = 1\n    for (var j=0; j<len; j++) {\n        if (arrIn[i] & inMask) {\n            temp |= outMask\n        }\n        outMask = outMask >> 1\n        inMask = inMask << 1\n    }\n    arrOut.push (temp)\n}\nmsg.payload = arrOut\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1000,"wires":[["3d34e636.efcbba","50acf86b.dc0218","836bf11d.cab11"]]},{"id":"fbd1d112.a2a9b","type":"inject","z":"abba5350.16b37","name":"Send matrix flipped horiz","topic":"trellis1/command/setMatrix","payload":"0","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1000,"wires":[["ad2acbb7.086728"]]},{"id":"3c34d831.65d588","type":"json","z":"abba5350.16b37","name":"","property":"payload","action":"","pretty":false,"x":530,"y":1000,"wires":[["dfb41e19.04d27"]]},{"id":"50acf86b.dc0218","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1030,"y":1080,"wires":[]},{"id":"3642407e.84b01","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1030,"y":1280,"wires":[]},{"id":"ab73d55c.bbf2c8","type":"mqtt out","z":"abba5350.16b37","name":"","topic":"","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":1030,"y":1480,"wires":[]}]