flows.json
[{"id":"21548ff4.98473","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"82493fbf.48fca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5579c090.f6b2d8","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95f1bd46.18cf5","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eed2e8e.4dff018","type":"mqtt-broker","z":"","name":"Openhab","broker":"localhost","port":"1883","clientid":"n","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"503ced03.4cf0bc","type":"mqtt-broker","z":"","name":"Openhab WiFi direct","broker":"192.168.4.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"68c209bf.a741","type":"mqtt in","z":"21548ff4.98473","name":"watson temp 1C","topic":"watsonWeather/extraTemp1_C","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":100,"wires":[["bc232d15.b9b258","19da776b.a69001","e7611828.2459c8"]]},{"id":"32b07ff3.0dfa3","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot1/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":240,"wires":[]},{"id":"bc232d15.b9b258","type":"function","z":"21548ff4.98473","name":"nameIt","func":"msg.payload = \"Watson Temp F\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["f6745118.9dded","32b07ff3.0dfa3"]]},{"id":"2c388991.bcafe6","type":"function","z":"21548ff4.98473","name":"FtoC","func":"msg.payload = 5/9 *( msg.payload - 32)\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":20,"wires":[[]]},{"id":"f6745118.9dded","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":100,"wires":[]},{"id":"11d55b97.3a206c","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":60,"wires":[["32b07ff3.0dfa3","f6745118.9dded"]]},{"id":"a5193e38.64a9c8","type":"mqtt in","z":"21548ff4.98473","name":"oled1/heartbeat","topic":"oled1/heartbeat","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":1280,"wires":[["5bba12ba.810914","a06ff892.ff3e3","34a52e99.80ba2a"]]},{"id":"5bba12ba.810914","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1320,"wires":[]},{"id":"8f1e9f9d.40fba8","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonA","topic":"oled1/buttonA","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1332,"wires":[["a06ff892.ff3e3"]]},{"id":"d1533fd6.c61a68","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonC","topic":"oled1/buttonC","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1428,"wires":[["a06ff892.ff3e3"]]},{"id":"b2e0dc8d.cb418","type":"mqtt in","z":"21548ff4.98473","name":"oled1/buttonB","topic":"oled1/buttonB","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1380,"wires":[["a06ff892.ff3e3"]]},{"id":"e9b6d446.0eef2","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["32b07ff3.0dfa3"]]},{"id":"6e95d96f.93d75","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text1","payload":"Hi there1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["32b07ff3.0dfa3"]]},{"id":"a06ff892.ff3e3","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \" \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1360,"wires":[["32b07ff3.0dfa3"]]},{"id":"77ed106e.7b6818","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1100,"wires":[]},{"id":"9fe32f0d.c0c3d8","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"oled1/#","qos":"0","broker":"503ced03.4cf0bc","x":70,"y":1100,"wires":[["48d8532e.ac5094"]]},{"id":"34a52e99.80ba2a","type":"function","z":"21548ff4.98473","name":"format heartbeat message","func":"msg.payload = msg.topic.replace(\"/\", \" \") + \": \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1280,"wires":[["32b07ff3.0dfa3"]]},{"id":"19da776b.a69001","type":"function","z":"21548ff4.98473","name":"CtoF w time","func":"var d = new Date();\nmsg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F \" + d.getHours()+\":\"+d.getMinutes()+\":\"+d.getSeconds()\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["32b07ff3.0dfa3","f6745118.9dded"]]},{"id":"48d8532e.ac5094","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \"  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1100,"wires":[["77ed106e.7b6818"]]},{"id":"e7611828.2459c8","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":160,"wires":[]},{"id":"36cfd90d.d14bb6","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text5","payload":"Hi there5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["6c9fc20f.bb9454"]]},{"id":"3a5db315.a96af4","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text4","payload":"Hi there4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["7c709893.46f9b8"]]},{"id":"7aef8a49.f1b854","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text3","payload":"Hi there3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["71199943.3758d8"]]},{"id":"abad2cb5.35e9d","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text2","payload":"Hi there2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["ced9ffcb.a13c98"]]},{"id":"2208497e.bc61ce","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text6","payload":"Hi there6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["c6b085e9.5f1748"]]},{"id":"ced9ffcb.a13c98","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot2/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":320,"wires":[]},{"id":"71199943.3758d8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot3/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":400,"wires":[]},{"id":"7c709893.46f9b8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot4/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":480,"wires":[]},{"id":"6c9fc20f.bb9454","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot5/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":560,"wires":[]},{"id":"c6b085e9.5f1748","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot6/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":640,"wires":[]},{"id":"4098c813.3edab8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot7/value","qos":"","retain":"","broker":"503ced03.4cf0bc","x":950,"y":720,"wires":[]},{"id":"7fd132a8.dc87ac","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text7","payload":"Hi there7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["4098c813.3edab8"]]},{"id":"35b9da3a.f23a7e","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text1","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["32b07ff3.0dfa3"]]},{"id":"8015e3c.8a8a22","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text2","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":360,"wires":[["ced9ffcb.a13c98"]]},{"id":"c908ce3d.ed1248","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text3","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["71199943.3758d8"]]},{"id":"b4abfa18.193ac8","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text4","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["7c709893.46f9b8"]]},{"id":"a6928d2.ea7d4f","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text5","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["6c9fc20f.bb9454"]]},{"id":"64718168.9ee22","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text6","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["c6b085e9.5f1748"]]},{"id":"c237a0d0.990cb","type":"inject","z":"21548ff4.98473","name":"","topic":"general/text7","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":760,"wires":[["4098c813.3edab8"]]},{"id":"294e9d21.ab79c2","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"lidar1/measurement","qos":"0","broker":"95f1bd46.18cf5","x":110,"y":1040,"wires":[["317e18b7.5e012"]]},{"id":"ee9d5ef2.d2bcf8","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"lidar1/#","qos":"0","broker":"503ced03.4cf0bc","x":70,"y":1180,"wires":[["d4ee12ed.da5068"]]},{"id":"d4ee12ed.da5068","type":"function","z":"21548ff4.98473","name":"merge topic and payload","func":"msg.payload = msg.topic.replace(\"/button\", \" But\") + \"  \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1180,"wires":[["8076c73b.abece"]]},{"id":"8076c73b.abece","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":1180,"wires":[]},{"id":"317e18b7.5e012","type":"function","z":"21548ff4.98473","name":"format lidar message","func":"msg.payload = \"Lidar:\" + msg.payload + \"mm\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1040,"wires":[[]]},{"id":"cf696b02.f2a8f","type":"mqtt in","z":"82493fbf.48fca","name":"oled1/heartbeat","topic":"oled1/heartbeat","qos":"0","broker":"503ced03.4cf0bc","x":120,"y":60,"wires":[["432d867e.3c614"]]},{"id":"432d867e.3c614","type":"trigger","z":"82493fbf.48fca","op1":"1","op2":"oled/muted","op1type":"str","op2type":"str","duration":"9","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":330,"y":60,"wires":[["f1eaf163.8e1c9"]]},{"id":"f1eaf163.8e1c9","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"","retain":"","broker":"503ced03.4cf0bc","x":560,"y":60,"wires":[]},{"id":"7a19bfc.7cd06c","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/#","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":2040,"wires":[["a9453ff2.6143e"]]},{"id":"a9453ff2.6143e","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":2040,"wires":[]},{"id":"b47e53f5.9f0b","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/light","qos":"0","broker":"503ced03.4cf0bc","x":90,"y":1540,"wires":[["6164d528.0cc12c"]]},{"id":"26c2a997.62bebe","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/DHT_temp","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":1580,"wires":[["83f7049a.4ac18"]]},{"id":"b28ce484.764ce","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/DHT_humid","qos":"0","broker":"503ced03.4cf0bc","x":110,"y":1620,"wires":[["ef654e4e.b70fd"]]},{"id":"6fc45b5f.627bf4","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/289AB24B080000FD","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1700,"wires":[["a60b821a.dda8a","f58429d1.4ddfb"]]},{"id":"9f64d590.5d7c18","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/2822E8C7080000B8","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1660,"wires":[["1cce53d8.5d6fcc","56a61652.0d1638"]]},{"id":"fec71785.c8498","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/2867570108000036","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1740,"wires":[["748cdd1c.c788d4","a810ee33.0edbc8"]]},{"id":"a60b821a.dda8a","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1700,"wires":[["7addbc0d.6caeec"]]},{"id":"1cce53d8.5d6fcc","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1660,"wires":[["1bf12440.7f887c"]]},{"id":"748cdd1c.c788d4","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1740,"wires":[["a1e80fb6.1fa12"]]},{"id":"83f7049a.4ac18","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1580,"wires":[["67c37ecf.9b4c28"]]},{"id":"67c37ecf.9b4c28","type":"function","z":"21548ff4.98473","name":"label ambient temp","func":"msg.payload = \"Amb temp: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1580,"wires":[["ced9ffcb.a13c98"]]},{"id":"6164d528.0cc12c","type":"function","z":"21548ff4.98473","name":"label light","func":"msg.payload = \"light: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1540,"wires":[["32b07ff3.0dfa3"]]},{"id":"7addbc0d.6caeec","type":"function","z":"21548ff4.98473","name":"label temperature 1","func":"msg.payload = \"Temp 1: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1700,"wires":[[]]},{"id":"1bf12440.7f887c","type":"function","z":"21548ff4.98473","name":"label temperature 0","func":"msg.payload = \"Temp 0: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1660,"wires":[[]]},{"id":"a1e80fb6.1fa12","type":"function","z":"21548ff4.98473","name":"label temperature 2","func":"msg.payload = \"Temp 2: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1740,"wires":[[]]},{"id":"ab5bb2d8.928768","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"therm1/22E3FD4B000000DB","qos":"0","broker":"503ced03.4cf0bc","x":140,"y":1780,"wires":[["3011d85f.ac6e7","9bbcc416.dc987"]]},{"id":"3011d85f.ac6e7","type":"function","z":"21548ff4.98473","name":"CtoF","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1) + \"F\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1780,"wires":[["8b5ef2d3.f3c748"]]},{"id":"8b5ef2d3.f3c748","type":"function","z":"21548ff4.98473","name":"label temperature 3","func":"msg.payload = \"Temp 3: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1780,"wires":[[]]},{"id":"ac7774ca.e41ac8","type":"function","z":"21548ff4.98473","name":"save temp 0","func":"flow.set ( \"temp0\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1820,"wires":[["3e299b92.76467c"]]},{"id":"f79bf9db.307dd","type":"function","z":"21548ff4.98473","name":"save temp 3","func":"flow.set ( \"temp3\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1940,"wires":[["3e299b92.76467c"]]},{"id":"a06bbd65.beea7","type":"function","z":"21548ff4.98473","name":"save temp 1","func":"flow.set ( \"temp1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1860,"wires":[["3e299b92.76467c"]]},{"id":"bbe0c44e.7f8788","type":"function","z":"21548ff4.98473","name":"save temp 2","func":"flow.set ( \"temp2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1900,"wires":[["3e299b92.76467c"]]},{"id":"3e299b92.76467c","type":"function","z":"21548ff4.98473","name":"label temperature 0-3","func":"msg.payload = flow.get(\"temp0\") + \" \" + flow.get(\"temp1\") + \" \" + flow.get(\"temp2\") + \" \" +  flow.get(\"temp3\")\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1860,"wires":[["71199943.3758d8"]]},{"id":"56a61652.0d1638","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1820,"wires":[["ac7774ca.e41ac8"]]},{"id":"f58429d1.4ddfb","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1860,"wires":[["a06bbd65.beea7"]]},{"id":"a810ee33.0edbc8","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1900,"wires":[["bbe0c44e.7f8788"]]},{"id":"9bbcc416.dc987","type":"function","z":"21548ff4.98473","name":"CtoF only","func":"msg.payload = (9/5 * msg.payload + 32).toFixed(1)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1940,"wires":[["f79bf9db.307dd"]]},{"id":"ef654e4e.b70fd","type":"function","z":"21548ff4.98473","name":"label humidity","func":"msg.payload = \"Humid: \" + msg.payload + \"%\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1620,"wires":[["7c709893.46f9b8"]]},{"id":"c4dc0716.b392a8","type":"mqtt in","z":"21548ff4.98473","name":"","topic":"panel1/#","qos":"0","broker":"503ced03.4cf0bc","x":100,"y":2140,"wires":[["3825c9f1.d92996"]]},{"id":"3825c9f1.d92996","type":"debug","z":"21548ff4.98473","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":2140,"wires":[]},{"id":"5eacf8db.a9a528","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2600,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"bdd8ba3c.e7c2d8","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/color","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":360,"y":2660,"wires":[]},{"id":"9f37f240.ea207","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2640,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"ca50eb7d.323e68","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2680,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"e788e8a2.da2b78","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2720,"wires":[["bdd8ba3c.e7c2d8"]]},{"id":"40dbde40.94e8e","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/mode","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":370,"y":2280,"wires":[]},{"id":"5b024539.fdf31c","type":"inject","z":"21548ff4.98473","name":"","topic":"general/number","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2220,"wires":[["40dbde40.94e8e"]]},{"id":"e173972b.2b54d8","type":"inject","z":"21548ff4.98473","name":"","topic":"general/number","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":2260,"wires":[["40dbde40.94e8e"]]},{"id":"3d491b9c.597c34","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2300,"wires":[["40dbde40.94e8e"]]},{"id":"99d4bf90.ea82a","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2340,"wires":[["40dbde40.94e8e"]]},{"id":"4c70a74a.4ea558","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/speed","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":370,"y":2860,"wires":[]},{"id":"247d0a90.3cbbb6","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"200","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2800,"wires":[["4c70a74a.4ea558"]]},{"id":"f059682f.36adc8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"300","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2840,"wires":[["4c70a74a.4ea558"]]},{"id":"a44947b.b0577b8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2880,"wires":[["4c70a74a.4ea558"]]},{"id":"2e42f1ac.ebfdfe","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"500","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2920,"wires":[["4c70a74a.4ea558"]]},{"id":"24c84303.56326c","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/direction","qos":"0","retain":"","broker":"5579c090.f6b2d8","x":340,"y":3040,"wires":[]},{"id":"2164dd64.f6a722","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"360","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2980,"wires":[["24c84303.56326c"]]},{"id":"f319a613.d98998","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":3020,"wires":[["24c84303.56326c"]]},{"id":"10a9898e.3ad4b6","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":3060,"wires":[["24c84303.56326c"]]},{"id":"cff67edf.53d97","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"270","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":3100,"wires":[["24c84303.56326c"]]},{"id":"c7bc111e.58507","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"panel1/command/brightness","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":380,"y":2460,"wires":[]},{"id":"cc040fe1.fe586","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2400,"wires":[["c7bc111e.58507"]]},{"id":"2494fcbc.73e404","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2440,"wires":[["c7bc111e.58507"]]},{"id":"a63a2a71.a649b8","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2480,"wires":[["c7bc111e.58507"]]},{"id":"e8644f0.2e91bb","type":"inject","z":"21548ff4.98473","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2520,"wires":[["c7bc111e.58507"]]},{"id":"a44446d4.1fc268","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"oled1/slot1/size","qos":"","retain":"","broker":"503ced03.4cf0bc","x":660,"y":280,"wires":[]},{"id":"997bba80.fb6b98","type":"inject","z":"21548ff4.98473","name":"","topic":"size","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":280,"wires":[["a44446d4.1fc268"]]},{"id":"50ce7832.5f5158","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":970,"y":820,"wires":[]},{"id":"741c73d6.13d5ac","type":"mqtt out","z":"21548ff4.98473","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":970,"y":900,"wires":[]},{"id":"97d60658.596f88","type":"inject","z":"21548ff4.98473","name":"Local Display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["89b4d2d6.aafb8"]]},{"id":"c6fd628f.c6ba8","type":"inject","z":"21548ff4.98473","name":"Remote Display","topic":"Local Display","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":900,"wires":[["2eafb3ca.b3674c"]]},{"id":"89b4d2d6.aafb8","type":"function","z":"21548ff4.98473","name":"Setup local mode","func":"var msg1 = { topic:\"oled1/statSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/pingSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/ipSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/timeSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":430,"y":820,"wires":[["50ce7832.5f5158"]]},{"id":"2eafb3ca.b3674c","type":"function","z":"21548ff4.98473","name":"Setup remote mode","func":"var msg1 = { topic:\"oled1/mqttSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/mqttSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/mqttSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":440,"y":900,"wires":[["741c73d6.13d5ac"]]},{"id":"52e9c14.071544","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":990,"y":180,"wires":[]},{"id":"204b97b8.001568","type":"mqtt out","z":"82493fbf.48fca","name":"","topic":"","qos":"0","retain":"","broker":"503ced03.4cf0bc","x":1010,"y":500,"wires":[]},{"id":"bec8bd37.9c7f9","type":"inject","z":"82493fbf.48fca","name":"Local Display","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["3d757946.b83806"]]},{"id":"21475d80.6729c2","type":"inject","z":"82493fbf.48fca","name":"Remote Display","topic":"Local Display","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["316ca05b.8ba84"]]},{"id":"3d757946.b83806","type":"function","z":"82493fbf.48fca","name":"Setup local mode","func":"var msg1 = { topic:\"oled1/statSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/ipSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/timeSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":450,"y":180,"wires":[["52e9c14.071544"]]},{"id":"316ca05b.8ba84","type":"function","z":"82493fbf.48fca","name":"Setup remote mode","func":"var msg1 = { topic:\"oled1/mqttSlot\", payload:\"1\" };\nvar msg2 = { topic:\"oled1/mqttSlot\", payload:\"2\" };\nvar msg3 = { topic:\"oled1/mqttSlot\", payload:\"3\" };\nvar msg4 = { topic:\"oled1/mqttSlot\", payload:\"4\" };\nreturn [[msg1, msg2, msg3, msg4]];","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["204b97b8.001568"]]},{"id":"d2d03a31.0ce9b8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":320,"wires":[["204b97b8.001568"]]},{"id":"986fe8ab.293698","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":360,"wires":[["204b97b8.001568"]]},{"id":"7dc7392e.dc5f28","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":400,"wires":[["204b97b8.001568"]]},{"id":"f3eb4721.86c558","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["204b97b8.001568"]]},{"id":"1e01b7e7.d921a8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["204b97b8.001568"]]},{"id":"d209b47f.f45ad8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["204b97b8.001568"]]},{"id":"9244dabd.073948","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/invSlot","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["204b97b8.001568"]]},{"id":"bac8bb31.575608","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["204b97b8.001568"]]},{"id":"938c8dd2.3b14","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":640,"wires":[["204b97b8.001568"]]},{"id":"95d23579.965bf8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["204b97b8.001568"]]},{"id":"713392ef.691efc","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":720,"wires":[["204b97b8.001568"]]},{"id":"74216722.0d4448","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":760,"wires":[["204b97b8.001568"]]},{"id":"74e696e4.73dcd8","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["204b97b8.001568"]]},{"id":"94be1f29.5f1f","type":"inject","z":"82493fbf.48fca","name":"","topic":"oled1/normSlot","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["204b97b8.001568"]]}]